{% extends "./wrapper.html" %}

{% block content %}

<form
  class="ak-form"
  name="act"
  method="POST"
  action="/act/"
  accept-charset="utf-8"
  data-wm-pixel-event-type="Lead"
  data-wm-pixel-track-type="track"
  data-wm-pixel-content-id="{{ page.id }}"
  data-wm-pixel-content-name="{{ page.title }}"
  data-wm-pixel-trigger-event="submit">

	<input type="hidden" name="page" value="{{ page.name }}">

    <div class="advice-advice">
			<div class="action-advice-col">
				{% include "./language_picker.html" %}
				<div class="advice-container">
					<h1>{{ page.title }}</h1>

          {% store as featured_video %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_video" as field_name %}{% endstore %}
          {% store as featured_image %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_image" as field_name %}{% endstore %}
					{% if featured_video %}
          <div class="video-container ">
            <div class="cookieconsent-optout-marketing">
              <div class="video-placeholder">
                <button type="button" onclick="Cookiebot.renew()">
                  {% filter ak_text:"videoPlaceholder_button" %}Please accept marketing cookies to watch this video{% endfilter %}
                </button>
              </div>
            </div>
            <iframe
              width="560"
              height="315"
              data-cookieblock-src="{{page.custom_fields.featured_video}}"
              data-cookieconsent="marketing"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
					{% elif featured_image %}
					<img class="ak-featured-img {% if page.goal %}ak-margin-top-1{% endif %}" src="{{featured_image}}">
          {% endif %}

					{% if form.statement_leadin %}
					<div id="letter_to">
						{% include_tmpl form.statement_leadin %}
					</div>
					{% endif %}

          {% if page.custom_fields.youmove_initiator_name %}
					<div class="initiator">
						<p data-initiator-name="{{ page.custom_fields.youmove_initiator_name }}">
							{% filter ak_text:"statement_initiator" %}This petition is run by [% inititator_name %]{% endfilter %}
						</p>
					</div>
					{% endif %}

					<div id="sign-advice">
						<div class="well">
							<h2>{% filter ak_text:"petition_title" %}Petition{% endfilter %}</h2>

							<div class="ak-margin-bottom-1 ak-text-expander-disabled">
								{% include_tmpl form.statement_text %}
							</div>
							<a href="#" class="ak-read-more ak-mobile" data-lines="10">{% filter ak_text:"readMore_button" %}Read more{% endfilter %}</a>
						</div>

						<div id="ak-petition-story">
							{% if form.about_text %}
							<h2>{% filter ak_text:"whyIsThisImportant_title" %}Why is this important?{% endfilter %}</h2>
							<div class="ak-text-expander-disabled">{% include_tmpl form.about_text %}</div>
							<a href="#" class="ak-read-more ak-mobile" data-lines="10">{% filter ak_text:"readMore_button" %}Read more{% endfilter %}</a>
							{% endif %}

							{% store as references %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "references" as field_name %}{% endstore %}
							{% if references %}
							<div class="references">
								<h4>{% filter ak_text:"references" %}References{% endfilter %}:</h4>
								<div class="unescape-html">{{ references }}</div>
							</div>
							{% endif %}
						</div>

						{% store as partnership_icons %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "partnership_icons" as field_name %}{% endstore %}
						{% if partnership_icons %}
						<div class="partners">
							<h2>{% filter ak_text:"in_partnership_with" %}In partnership with{% endfilter %}:</h2>
							<div class="unescape-html partnership-icons">
								{{ partnership_icons }}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="action-form-container-col ak-grid-col ak-grid-col-4-of-12" id="action-form-container-col">

      <aside data-wm-floating-meter class="floating-progress-meter mobile-only">
        {% include "./progress_meter.html" with instance="2" %}

        <a href="#action-form-container-col" class="btn btn-primary fake-submit-button">
          {% if page.custom_fields.sign_petition_button %}
            {{ page.custom_fields.sign_petition_button }}
          {% else %}
            {% filter ak_text:"button_sign_petition" %}
              Sign the Petition
            {% endfilter %}
          {% endif %}
        </a>
      </aside>

			{% include "./progress_meter.html" with instance="1" %}
			<div class="action-form">
				<div id="action-form-container-id" class="action-form-container">

					<div class="ak-field-box ak-field-box-borderless">

						<div id="petition-form" class="ak-styled-fields ak-labels-overlaid ak-errs-below">

							{% include "./user_form_wrapper.html" %}

							<div class="ak-field floating-input-field hide-if-previously-signed">
								<label for="id_comment">{% filter ak_text:"form_field_comments" %}Your comments{% endfilter %}:</label>
								<textarea id="id_comment" name="action_comment"></textarea>
							</div>

						</div>

						<div class="js-nav-buttons hide-if-previously-signed">
							<button type="submit" class="btn btn-primary">
                {% if page.custom_fields.sign_petition_button %}
                  {{ page.custom_fields.sign_petition_button }}
                {% else %}
                  {% filter ak_text:"button_sign_petition" %}
                    Sign the Petition
                  {% endfilter %}
                {% endif %}
              </button>
						</div>

					</div>
					<div class="privacy-statement">
            {% if page.custom_fields.privacy_disclaimer %}
              {{ page.custom_fields.privacy_disclaimer | safe }}
            {% else %}
              {% filter ak_text:"form_signTerms_disclaimer" %}By clicking “Sign” you are supporting this campaign, and agreeing to WeMove Europe using your information for the purpose of this campaign. We might hand over your name, surname and country to the petition target. Unless you subscribe to receive personalised updates, we will delete your data after the campaign has ended. We will never share your data with any third parties without your permission. See our full privacy policy <a href="https://www.wemove.eu/privacy-policy" target="_blank">here</a>.{% endfilter %}
            {% endif %}
					</div>
				</div>

			</div>

			<aside class="recent-comments" style="display: none">
				<h4>Recent comments</h4>
				<div class="recent-comment">
					<div class="recent-comment-by" style="font-style: italic;"></div>
					<div class="recent-comment-text"></div>
				</div>
			</aside>
		</div>
</form>

<script>
	var recent_comments = {% report "comments_recent_actions" with 1 as refresh page.id as page_id %};
	recent_comments.shift();

	window.currentCommentIndex = 0;
	window.recentCommentShown = false;
	window.comment_elt = $('.recent-comments .recent-comment');
	$( function () {
		if (comment_elt.length > 0) {
			if (recent_comments.length && ! recentCommentShown) {
				recentCommentShown = true;
				comment_elt.parent().fadeIn('slow');
				cycleRecentComment();
			}
		}
	} );

	function cycleRecentComment() {
		comment_elt.fadeOut('slow', function() {
			var comment = recent_comments[currentCommentIndex ++ % recent_comments.length];
			comment_elt.find('.recent-comment-by').text(comment[0]);
			comment_elt.find('.recent-comment-text').text(comment[1]);
			comment_elt.removeClass('hidden');
			comment_elt.fadeIn('slow');
			var duration = Math.ceil(comment[1].split(' ').length * 0.2);
			if (duration < 3) { duration = 3; }
			setTimeout(cycleRecentComment, duration * 1000);
		});
	}
</script>

<div class="js-recent-action no-mobile" style="display: none">
  👍 <span class="js-text"></span>
</div>

<script>
	var recent_signers = {% report "names_recent_actions" with 1 as refresh page.id as page_id %};
	recent_signers.shift();
	recent_signers = recent_signers.map( n => [ n[0], n[1] + " has just signed the petition" ] );

	var recent_sharers = {% report "names_recent_shares" with 1 as refresh page.id as page_id %};
	recent_sharers.shift();
	recent_sharers = recent_sharers.map( n => [ n[0], n[1] + " just shared this on " + n[2] ] );

	var recent_actions = recent_signers.concat( recent_sharers );
	recent_actions = recent_actions.sort( function compare(a,b) {
		if ( a[0] < b[0] ) { return 1 }
		if ( a[0] > b[0] ) { return -1 }
		return 0
	} );

	window.recentActions = recent_actions.map( n => n[1] );

	window.currentActionIndex = 0;
	window.recentActionShown = false;
	window.recent_action_elt = $('.js-recent-action');
	$( function () {
		if (recent_action_elt.length > 0) {
			if (window.innerWidth > 1180) {
				if (recentActions.length && ! recentActionShown) {
					recentActionShown = true;
					cycleRecentAction();
				}
			}
		}
	} );

	function cycleRecentAction() {
		recent_action_elt.fadeOut('slow', function() {
			var signer = recentActions[currentActionIndex ++ % recentActions.length];
			recent_action_elt.find('.js-text').text(signer);
			recent_action_elt.removeClass('hidden');
			recent_action_elt.fadeIn('slow');
			setTimeout(cycleRecentAction, 5000);
		});
	}

</script>

{% endblock %}
