{% extends "WeMove/signup.html" %}

{% block content %}

<h2>{{ page.title }}</h2>

<form class="action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">

	<div id="signup-story">

		{% if page.custom_fields.featured_image %}
		<img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
		{% endif %}

		<div class="ak-abovefold">
			{% include_tmpl form.introduction_text %}
		</div>

		<div class="ak-mobile-lead"></div>

	</div>

	<div id="signup-form" class="ak-styled-fields ak-labels-overlaid ak-errs-below">

	    <input type="hidden" name="akid" value="{{ akid }}">
	    <input type="hidden" name="redirect" value="{{ args.next_step }}">
	    <input type="hidden" name="require_opt_in" value="">

	    <input type="hidden" name="action_consent_version" value="{{ page.custom_fields.consent_version }}">
	    <input type="hidden" name="action_consent_action" value="">
	    <input type="hidden" name="action_via_email" value="">
	    <input type="hidden" name="action_trigger_page" value="{{ args.trigger_page }}">
	    <input type="hidden" name="action_trigger_action" value="{{ args.trigger_action }}">

		<div id="consent-buttons">
				<button type="button" id="btn_optout" value="none_given" class="btn optout js-popup-consent-button">
          {% filter ak_text:"consents_contactMeNo_button" %}No, do not contact me{% endfilter %}
				</button>

        opt_ab_test_confirm_button
        opt_ab_test_cancel_button
        opt_ab_test_introduction_text
        opt_ab_test_popup_title

        <button
          type="button"
          id="btn_optin"
          value="explicit_opt_in"
          class="btn optin js-popup-consent-button"
          data-wm-pixel-event-type="OptIn"
          data-wm-pixel-track-type="trackCustom"
          {% if tests.TEMP_CHANGE_ME.letter %}
          data-wm-pixel-content-id="optin_{{ tests.TEMP_CHANGE_ME.letter }}"
          {% endif %}
          data-wm-pixel-trigger-event="click">test
          {% if test %}
            {% page.custom_fields.opt_ab_test_confirm_buttons %}
          {% else %}
            {% filter ak_text:"consents_contactMeYes_buttons" %}Yes, keep me informed!{% endfilter %}
          {% endif %}
				</button>

				<button type="button" id="btn_email" value="email_opt_in" class="btn optemail js-popup-consent-button" hidden>
					{% filter ak_text:"consents_confirmViaEmail_button" %}Confirm consent via email{% endfilter %}
				</button>
		</div>

	</div>

    <input type="hidden" name="page" value="{{ page.name }}">
</form>

<script>
	{% if args.confirm %}
		$('#consent-buttons div').toggle()
		$('input[name="action_consent_action"]').val( 'y' );
		$('input[name="action_via_email"]').val(1);
		$('form.action_form').get(0).submit();
	{% elif args.decline %}
		$('#consent-buttons div').toggle()
		$('input[name="action_consent_action"]').val( 'n' );
		$('input[name="require_opt_in"]').val(1);
		$('input[name="action_via_email"]').val(1);
		$('form.action_form').get(0).submit();
	{% elif user.country == 'Germany' or user.country == 'Austria' or user.country|lower == 'de' or user.country|lower == 'at' %}
		$('#consent-buttons div').toggle()
		$('input[name="action_consent_action"]').val( 'e' );
		$('input[name="require_opt_in"]').val(1);
		$('form.action_form').get(0).submit();
	{% else %}
		$('#btn_optin').on('click', function () {
			$('input[name="action_consent_action"]').val( 'y' );
			$('form.action_form').get(0).submit();
		} );
		$('#btn_optout').on('click', function () {
			$('input[name="action_consent_action"]').val( 'n' );
			$('input[name="require_opt_in"]').val(1);
			$('form.action_form').get(0).submit();
		} );
	{% endif %}
</script>

{% endblock %}
