{% extends "./wrapper.html" %}

{% block css_additions %}
{{ block.super }}
{% if page.custom_fields.call_page_mode == "call" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.2/build/css/intlTelInput.css">
<style>
label[for=id_mobile_phone] {
  margin-left: 36px;
  z-index: 2;
}
.iti {
  display: block;
}
</style>
{% endif %}
{% endblock %}

{% block wemove_scripts %}
{{ block.super }}
{% if page.custom_fields.call_page_mode == "call" %}
<script type="module">
  const telephoneInput = document.getElementById("id_mobile_phone");

  if (!telephoneInput) {
    throw new Error("Intl-tel init aborted (no telephone input found)");
  }

  telephoneInput.type = "tel";

  // Dynamically load the intlTelInput library
  const script = document.createElement('script');
  script.src = 'https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.2/build/js/intlTelInput.min.js';
  document.head.appendChild(script);

  await new Promise((resolve, reject) => {
    script.onload = resolve;
    script.onerror = reject;
  });

  const loadUtils = () => import("https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.2/build/js/utils.js");
  const countryTranslations = () => import("https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.2/build/js/i18n/{{page.lang.iso_code|default:'en'}}/countries.js");

  const getInitialCountryIso = () => {
    // These are the supported countries in our country select inside petition forms.
    // This means that if we get a country code or name from AK it will be only one of these.
    // It should always be a country name in english, but just in case we also check for ISO codes.
    const supportedCountries = {
      "en": "gb",
      "united states": "us",
      "united kingdom": "gb",
      "bulgaria": "bg",
      "czech republic": "cz",
      "denmark": "dk",
      "germany": "de",
      "estonia": "ee",
      "ireland": "ie",
      "greece": "gr",
      "spain": "es",
      "france": "fr",
      "croatia": "hr",
      "italy": "it",
      "cyprus": "cy",
      "latvia": "lv",
      "lithuania": "lt",
      "luxembourg": "lu",
      "hungary": "hu",
      "malta": "mt",
      "netherlands": "nl",
      "austria": "at",
      "poland": "pl",
      "portugal": "pt",
      "romania": "ro",
      "slovenia": "si",
      "slovakia": "sk",
      "finland": "fi",
      "sweden": "se",
    };

    const isSupportedEUCountry = (isoCode) => {
      return Object.values(supportedCountries).includes(isoCode);
    };

    const userCountry = "{{ user.country|lower }}";
    let supportedCountry = null;

    // helper to check if the given country is supported
    if (userCountry) {
      // is it an ISO code or a country name?
      if (userCountry.length === 2 && isSupportedCountry(userCountry)) {
        supportedCountry = userCountry;
      } else {
        supportedCountry = supportedCountries[userCountry];
      }
    }

    // fallback to page language country if user country is not supported
    // that's why in the country list above we have en as a country name
    return supportedCountry
      ? supportedCountry
      : supportedCountries[wemove.page.language.iso];
  };

  window.intlTelInput(telephoneInput, {
    loadUtils: loadUtils,
    hiddenInput: (telInputName) => ({ phone: "phone_full" }),
    strictMode: true,
    validationNumberTypes: null,
    initialCountry: getInitialCountryIso(),
    countryOrder: ["fr", "de", "it", "nl", "pl", "es", "gb", "at", "be", "bg", "hr", "cy", "cz", "dk", "ee", "fi",  "gr", "hu", "ie",  "lv", "lt", "lu", "mt",  "pt", "ro", "sk", "si",  "se"],
    countrySearch: false,
    autoPlaceholder: "off",
    separateDialCode: false,
    i18n: countryTranslations,
  });
</script>

{% endif %}
{% endblock %}

{% block content %}

{% if page.custom_fields.call_page_mode == "call" and action and action.page.id == page.id %}
{% remember 1 as MAKING_CALLS %}
{% endif %}

<div class="{% if not MAKING_CALLS %}nav-md:grid grid-cols-petition{% endif %} mb-8">
  <article {% if MAKING_CALLS %}hidden{% endif %}>
    <h1 class="nav-md:mr-4">{{ page.title }}</h1>

    {% include "./component-featured_media.html" %}

    <div class="mt-4 nav-md:mr-4">
      {% include_tmpl form.introduction_text %}
    </div>
  </article>

  <aside>
    <form
      class="ak-form ak-styled-fields ak-labels-overlaid ak-errs-below p-4 mx-auto {% if not MAKING_CALLS %}bg-wm-bg-form max-w-[500px]{% endif %}"
      name="act"
      method="post"
      action="/act/"
      accept-charset="utf-8"
      data-wm-form="call"
      data-wm-floating-labels-form>

      <input type="hidden" name="page" value="{{ page.name }}">

      {% if page.custom_fields.call_page_mode == 'tweet' %}
        {% include "./component-call_page-tweet.html" %}
      {% elif page.custom_fields.call_page_mode == 'facebook' %}
        {% include "./component-call_page-facebook.html" %}
      {% elif page.custom_fields.call_page_mode == 'call' and not MAKING_CALLS %}
        {% include "./component-call_page-call.html" %}
      {% elif page.custom_fields.call_page_mode == 'call' and MAKING_CALLS %}
        {% include "./component-call_page-call-progress.html" %}
      {% endif %}
    </form>
  </aside>
</div>

{% endblock %}