{% extends "./wrapper.html" %}

{% block content %}
<div class="raction" id="rtweet">
	<div class="raction-content">
			<div class="action-advice-col">
				<div class="advice-container">
					<h1>{{ page.title }}</h1>

          {% if page.custom_fields.featured_video %}
            {% include "./featured-video.html" with featured_video=page.custom_fields.featured_video %}
          {% elif page.custom_fields.featured_image %}
            {% include "./featured-image.html" with featured_image=page.custom_fields.featured_image %}
          {% endif %}

          <div class="call-text">
					  {% include_tmpl form.introduction_text %}
          </div>
				</div>
			</div>

			<div class="action-form-container-col ak-grid-col ak-grid-col-4-of-12">
				<div class="action-form-container member-is-known">

					<form
            class="ak-form ak-styled-fields ak-labels-overlaid ak-errs-below"
            name="act"
            method="POST"
            action="/act/"
            accept-charset="utf-8"
            id="call-form"
            data-wm-floating-labels-form>

						<input type="hidden" name="page" value="{{ page.name }}">

            {% if page.custom_fields.call_page_mode == 'tweet' %}
              <h2 class="send-tweet-title">{% filter ak_text:"sendTweet_title" %}Send a tweet{% endfilter %}</h2>

              <div class="form-field hide-if-previously-signed">
                <label for="tweet_body">
                  {% filter ak_text:"twitter_field" %}Tweet text{% endfilter %}
                </label>
                <textarea
                  data-wm-tweet-message
                  name="tweet_text"
                  id="tweet_body"
                  rows="3"
                  required
                  class="form-control"></textarea>

                <div data-wm-tweet-char-count>280</div>
              </div>

              {% include "./user_form_wrapper.html" %}

              <div class="buttons-wrapper hide-if-previously-signed">
                  <button
                    class="btn btn-primary js-track-action js-submit"
                    data-js-event-category="tweet"
                    data-js-event-action="action"
                    data-wm-tweet-submit
                    disabled>
                      <span aria-label="hidden" class="social-icon">
                        {% include "./icon-twitter.html" %}
                      </span>
                      {% if page.custom_fields.sign_petition_button %}
                        {{ page.custom_fields.sign_petition_button }}
                      {% else %}
                        {% filter ak_text:"sendTweet_button" %}Tweet{% endfilter %}
                      {% endif %}
                  </button>
                <a
                  href="{{ page.followup.url }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}"
                  class="skip btn btn-default">
                  {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
                </a>
              </div>
              <div class="action-feedback-bar">
                <div class="fade in alert alert-success alert-dismissable feedback-alert">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  Thanks for tweeting!
                </div>
              </div>
						{% endif %}

            {% if page.custom_fields.call_page_mode == 'facebook' %}
              <h2 class="send-tweet-title">Post to Facebook</h2>

              {% include "./user_form_wrapper.html" %}

              <div class="buttons-wrapper hide-if-previously-signed">
                  <button
                    class="btn btn-primary"
                    data-js-event-category="tweet"
                    data-js-event-action="action"
                    data-wm-facebook-submit
                    >
                      <span aria-label="hidden" class="social-icon">
                        {% include "./icon-facebook.html" %}
                      </span>
                      {% if page.custom_fields.sign_petition_button %}
                        {{ page.custom_fields.sign_petition_button }}
                      {% else %}
                        {% filter ak_text:"sendFacebook_button" %}Open Facebook{% endfilter %}
                      {% endif %}
                  </button>
                <a
                  href="{{ page.followup.url }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}"
                  class="skip btn btn-default">
                  {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
                </a>
              </div>

              <div class="action-feedback-bar">
                <div class="fade in alert alert-success alert-dismissable feedback-alert">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  Thanks for posting!
                </div>
              </div>
						{% endif %}

            {% if page.custom_fields.call_page_mode == 'call' %}
              {% include "./user_form_wrapper.html" %}

              <div class="buttons-wrapper hide-if-previously-signed">
                  <button class="btn btn-lg btn-primary btn-block js-track-action js-dial-representative" data-js-event-category="call" data-js-event-action="action" data-decision-id="105346" data-campaign-id="3562">
                    <i style="position: relative; top: -1px" class="fa fa-phone call-icon"></i>
                    <i class="fa fa-spinner fa-pulse fa-fw hidden call-in-progress-icon"></i>CONNECTION TO <strong>TARGET NAME</strong><br>FREE SERVICE
                  </button>
                <a
                  href="{{ page.followup.url }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}"
                  class="skip btn btn-default">
                  {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
                </a>
              </div>

              <div id="call-status" style="text-align: center;"></div>

						{% endif %}
					</form>
				</div>
			</div>
	</div>
</div>

<div class="blocked-popup-message" data-wm-blocked-popup-message>
  <p>
    {% filter ak_text:"blockedPopup_alert" %}It seems that your browser is blocking the popup window. Please try to disable the block for this page and try again.{% endfilter %}
  </p>
</div>

{% endblock %}

{% block script_additions %}
<script>
  const alertBlockedPopupMessage = () => {
    const blockedPopupMessage = document.querySelector('[data-wm-blocked-popup-message]');
    blockedPopupMessage.classList.add('active');

    setTimeout(() => {
      blockedPopupMessage.classList.remove('active');
    }, 5000);
  };
</script>

{% if page.custom_fields.call_page_mode == 'tweet' %}
<script>
  const targetsTxt = {{ page.custom_fields.twitter_targets|json }};
  const messagesTxt = {{ page.custom_fields.twitter_messages|json }};
  const fallbackTxt = {{ page.custom_fields.twitter_fallback|json }};

  let pageTargets;

  const updateTweetForm = () => {
    const textArea = document.querySelector("[data-wm-tweet-message]");
    const counter = document.querySelector("[data-wm-tweet-char-count]");
    const tweetSubmit = document.querySelector("[data-wm-tweet-submit]");

    counter.innerHTML = 280 - textArea.value.length;
    tweetSubmit.disabled = textArea.value.length < 1;
  };

  const submitTweet = (e) => {
    e.preventDefault();

    const isFormValid = actionkit.forms.validate();

    if (!isFormValid) {
      return;
    }

    const tweet = document.querySelector("[data-wm-tweet-message]").value;
    const params = new URLSearchParams({ text: tweet }).toString();
    const handle = window.open('https://twitter.com/intent/tweet?' + params, 'tweet', 'popup,innerWidth=600,innerHeight=320');

    if (!handle) {
      alertBlockedPopupMessage();
      return;
    }

    actionkit.form.requestSubmit();
  }

  const prepareTweet = () => {
    pageTargets = actionkit.context.targets?.targets ? actionkit.context.targets.targets : [];

    const textArea = document.querySelector("[data-wm-tweet-message]");
    textArea.value = chooseTweet();
    textArea.addEventListener('keyup', updateTweetForm, false);
    textArea.addEventListener('change', updateTweetForm, false);
    textArea.dispatchEvent(new Event('change'));

    const tweetSubmit = document.querySelector("[data-wm-tweet-submit]");
    tweetSubmit.addEventListener('click', submitTweet);

    updateTweetForm();
  }

  const chooseTweet = () => {
    const targetLines = targetsTxt.split(/[\r\n]+/);
    const targetData = targetLines.map( (s) => s.split(/\s+/) ).map((s) => [s.shift(), s.join(' ')]);
    const pageTargetData = pageTargets.map(
      (t) => [t.twitter, t.title_informal_full]
    );
    const combinedTargets = targetData.concat(pageTargetData).map(
      (t) => [t[0] ? '@' + t[0] : null, t[1]]
    );
    const tweetTargets = combinedTargets.filter(
      (t) => t[0]
    );
    const randomTargets = tweetTargets.sort(()=>Math.random()-0.5);
    const firstTarget = tweetTargets[0] || [];
    const randomTarget = randomTargets[0] || [];

    const variables = {
      handle: firstTarget[0],
      name: firstTarget[1],
      handles: tweetTargets.map((t) => t[0]).join(', '),
      targets: tweetTargets,
      rhandle: randomTarget[0],
      rname: randomTarget[1],
      rhandles: randomTargets.map((t) => t[0]).join(', '),
      rtargets: randomTargets,
    };

    const messages = messagesTxt.split(/[\r\n]+/);
    const fallback = fallbackTxt.split(/[\r\n]+/);
    const randomized = messages.sort(() => Math.random()-0.5)
                      .concat(fallback)
                      .filter( (s) => s && s.match(/\S/));

    if (variables['handles'].match(/\S/)) {
      randomized.push("An important message for [%= handles %]: ");
    }

    for (const template of randomized) {
      const message = actionkit.utils.template(template, variables);

      if (message.match(/\S/)) {
        return message;
      }
    }

    return "No matching tweets were found";
  };

  $(actionkit.form).bind('actionkit.ready', prepareTweet);
  setTimeout(prepareTweet, 1000);
</script>
{% endif %}

{% if page.custom_fields.call_page_mode == 'facebook' %}
<script>
  const targets_txt = {{ page.custom_fields.facebook_targets|json }};
  const messages_txt = {{ page.custom_fields.facebook_messages|json }};

  let page_targets;

  const submitPost = (e) => {
    e.preventDefault();

    const isFormValid = actionkit.forms.validate();

    if (!isFormValid) {
      return;
    }

    const post = getFacebookPost();

    if (!window.fb_target) {
      const params = new URLSearchParams({ u: window.fb_link || '{% client_domain_url %}/act/{{ page.name }}' }).toString();
      const handle = window.open('https://www.facebook.com/sharer/sharer.php?' + params, 'facebook', 'popup,innerWidth=600,innerHeight=320' );
    } else if (window.fb_target.match(/\/\//)) {
      const handle = window.open(window.fb_target, 'facebook', 'popup,innerWidth=940,innerHeight=600');
    } else {
      const handle = window.open('https://www.facebook.com/' + window.fb_target.replace('@', ''), 'facebook', 'popup,innerWidth=940,innerHeight=600');
    }

    if (!handle) {
      alertBlockedPopupMessage();
      return;
    }

    actionkit.form.requestSubmit();
  }

  const attachEventListeners = () => {
    const subitButton = document.querySelector("[data-wm-facebook-submit]");
    subitButton.addEventListener('click', submitPost);
  }

  $(actionkit.form).bind('actionkit.ready', attachEventListeners);
  setTimeout(attachEventListeners, 1000);


  function getFacebookPost () {
    page_targets = actionkit.context.targets?.targets ? actionkit.context.targets.targets : [];

    const target_lines = targets_txt.split(/[\r\n]+/);
    const target_data = target_lines.map( (s) => s.split(/\s+/) ).map((s) => [s.shift(), s.join(' ')]);
    const page_target_data = page_targets.map(
      (t) => [t.facebook, t.title_informal_full]
    );

    const combined_targets = target_data.concat(page_target_data).map(
      (t) => [t[0] ? '@' + t[0] : null, t[1]]
    );
    const facebook_targets = combined_targets.filter(
      (t) => t[0]
    );
    const random_targets = facebook_targets.sort(()=>Math.random()-0.5);

    const first_target = facebook_targets[0] || [];
    const random_target = random_targets[0] || [];

    const variables = {
      handle: first_target[0],
      name: first_target[1],
      handles: facebook_targets.map((t) => t[0]).join(', '),
      targets: facebook_targets,
      rhandle: random_target[0],
      rname: random_target[1],
      rhandles: random_targets.map((t) => t[0]).join(', '),
      rtargets: random_targets,
    };

    const messages = messages_txt.split(/[\r\n]+/);
    const randomized = messages.sort(() => Math.random()-0.5)
				       .filter( (s) => s && s.match(/\S/) );

    if (variables['handles'].match(/\S/)) {
      randomized.push("An important message for [%= handles %]: ");
    }

    for (const template of randomized) {
      var message = actionkit.utils.template(template, variables);

      if (message.match(/\S/)) {
        const initial_target = message.match(/^(@\S+|https?:\S+)\s(.*)/);

        if ( initial_target && initial_target[1] ) {
          window.fb_target = initial_target[1];
          message = initial_target[2];
        }

        const trailing_link = message.match(/^(.*)\s(https?:\S+)$/);

        if (trailing_link && trailing_link[2]) {
          window.fb_link = trailing_link[2];
          message = trailing_link[1];
        }

        return message;
      }
    }

    return "No suggested Facebook messages were found";
  }
</script>
{% endif %}

{% if page.custom_fields.call_page_mode == 'call' %}
<script>
  var current_call_recipient;
  var current_call_action;
  var current_call_akid;

  $('.js-dial-representative').on('click', function (evt) {
    evt.preventDefault();
    $('#call-status').html('Calling...');
    $('.js-dial-representative').attr('disabled', 'disabled');

    var ak_form = $('form[name="act"]');
    $.ajax({
      "method": "POST",
      "url": '/rest/v1/action/',
      "data": ak_form.serialize(),
      "success": function (response) {
        console.log('AK Response', response);
        current_call_action = response.action_id;
        current_call_akid = response.akid;

        $.ajax({
          "method": "POST",
          "url": 'https://act.not-a2.eu/twilio/api/call/start',
          "data": {
            'decision_id': '{{ page.custom_fields.call_decision_id }}',
            'campaign_id': '{{ page.custom_fields.call_campaign_id }}',
            'source_id': '{{ page.custom_fields.call_source_id }}',
            'rcall_id': '',
            'use_known_member_data': 'true',
            'known_member_data': '',
            'email': $('#id_email').val(),
            'firstname': $('#id_name').val(),
            'lastname': '',
            'phone': $('#id_phone').val(),
            'country':  $('#id_country').val(),
            'postcode': $('#id_postal').val()
          },
          "success": function (response) {
            console.log('Response', response);
            current_call_recipient = response.rcall_recipient_id;
            check_call_status();
          }
        });
      }
    });
  });

  function check_call_status () {
    poll_for_status((status) => {
      if (!status) {
        console.log('Call status is null, checking again');
        check_again()
      } else if (status == 'interstitial') {
        console.log('Call status is interstitial, checking again');
        check_again()
      } else if (status == 'failed') {
        $('#call-status').html('Call failed.');
        $('.js-dial-representative').removeAttr('disabled');
        console.log('Call status is failed');

      } else if (status == 'success') {
        $('#call-status').html('Call connected!');
        console.log('Call status is success');
        check_again()

      } else if (status == 'completed') {
        $('#call-status').html('Call completed');
        $('.js-dial-representative').removeAttr('disabled');
        console.log('Call status is completed');

      } else {
        console.log('Call status is unexpected:', status);
        $('#call-status').html('Call failed. (' + status + ')');
        $('.js-dial-representative').removeAttr('disabled');
      }
    });
  }

  function check_again () {
    setTimeout(function () {
      check_call_status()
    }, 100);
  }

  function poll_for_status ( status_callback ) {
    $.ajax({
      "method": "GET",
      "url": 'https://act.not-a2.eu/twilio/rcall_recipient/' + current_call_recipient + '/status',
      "success": function (response) {
        console.log('Status', response);
        status_callback( response.call_status );
      }
    });
  }
</script>

<script>
  $(window).load(function () {
    $('#target_checkboxes').appendTo('div#who_called');

    const $window = $(window);

    function call_page_steps_mobile() {
      const windowSize = $window.width();

      if (windowSize < 480) {
        $('.ak-steps-area h3').addClass('clickable');
      } else {
        $('.ak-steps-area h3').removeClass('clickable');
        $('.ak-steps-area h3').each( function () {
          $(this).siblings('div').show();
        });
      }
    }
    $('.ak-steps-area').on('click', 'h3.clickable', function (e) {
      e.stopPropagation();
      $(this).toggleClass('active');
      $(this).siblings('div').stop().slideToggle('fast');
    });

    $(window).on('resize', call_page_steps_mobile);
    call_page_steps_mobile();
  });
</script>
{% endif %}
{% endblock %}
