{% extends "./wrapper.html" %}

{% block content %}

<div class="nav-md:grid grid-cols-petition mb-8">
  <article>
		<h1 class="text-4xl mb-8 pr-40 nav-md:text-5xl">{{ page.title }}</h1>

    {% include "./component-featured_media.html" %}

    <div class="mt-4 mr-4">
      {% include_tmpl form.introduction_text %}
    </div>
	</article>

  <aside>
    <form
      class="ak-form ak-styled-fields ak-labels-overlaid ak-errs-below bg-wm-bg-form p-4"
      name="act"
      method="post"
      action="/act/"
      accept-charset="utf-8"
      id="call-form"
      data-wm-floating-labels-form>

      <input type="hidden" name="page" value="{{ page.name }}">

      {% if page.custom_fields.call_page_mode == 'tweet' %}
        {% include "./component-call_page-tweet.html" %}
      {% elif page.custom_fields.call_page_mode == 'facebook' %}
        {% include "./component-call_page-facebook.html" %}
      {% elif page.custom_fields.call_page_mode == 'call' %}
        {% include "./component-call_page-call.html" %}
      {% endif %}
    </form>
	</aside>
</div>

{% include "./component-popup_blocker_alert.html" %}

{% endblock %}
