<div class="border-[1px] border-wm-black rounded p-2 mb-4">
  <a
    class="transition-all text-center bg-whatsapp !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-whatsapp-hv"
    href="/thanks/{{ pageName }}?share=whatsapp&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.utm_medium == "email" %}&source=mailing{% endif %}"
    target="_blank"
    data-wm-pixel-event-type="Share"
    data-wm-pixel-track-type="trackCustom"
    data-wm-pixel-content-name="WhatsApp"
    data-wm-pixel-trigger-event="click">
    <span aria-hidden="true" class="h-6 w-6">
      {% include "./icon-whatsapp.html" %}
    </span>
    <span>{% filter ak_text:"thanks_shareWhatsApp_button" %}Share on WhatsApp{% endfilter %}</span>
  </a>

  {% if args.share == "whatsapp" %}
    {% include "./component-share_from_mailings_script.html" %}
  {% endif %}
</div>