<div class="w-full">
  <h2 class="text-wm-purple border-b-2 mb-4 border-b-wm-pink">Previous donations</h2>

  {% if donations %}
    <div data-wm-transactions-wrapper="{{ donations|length }}" {% if donations|length > 5 %}class="h-[280px] overflow-hidden transition-all duration-[.5s] relative"{% endif %}>
      {% if donations|length > 5 %}
        <div data-wm-transactions-overlay class="overlay absolute z-10 bottom-0 w-full h-[70px] bg-gradient-to-b from-transparent to-60% to-white"></div>
      {% endif %}

      {% for donation in donations reversed %}
        <div class="relative mb-2">
          <div class="py-2 px-4 rounded-xl border-[1px] border-wm-pink">
            <div class="text-xl font-bold text-wm-purple flex items-center gap-4">
              {{ donation.amt }}

              <span class="text-sm font-bold text-wm-purple">
                {% if donation.recurring %}
                  Recurring donation
                  {% remember "recurring" as currentPaymentFrequency %}
                {% else %}
                  One-off
                  {% remember "one-off" as currentPaymentFrequency %}
                {% endif %}

                <span class="text-wm-pink {% if donation.account|lower == "wm-stripe" or donation.account|lower == "legacy-stripe" %}hidden{% endif %}">/</span>

                {% if donation.account|lower == "wm-card" or donation.account|lower == "legacy-card" %}
                  Credit card
                  {% remember "credit card" as currentPaymentMethod %}
                {% elif donation.account|lower == "wm-sepa" or donation.account|lower == "legacy-sepa" or donation.account|lower == "legacy-banktransfer" %}
                  SEPA
                  {% remember "sepa" as currentPaymentMethod %}
                {% elif donation.account|lower == "wm-paypal" or donation.account|lower == "legacy-paypal" %}
                  PayPal
                  {% remember "paypal" as currentPaymentMethod %}
                {% elif donation.account|lower == "wm-stripe" or donation.account|lower == "legacy-stripe" %}
                {% else %}
                  {{ donation.account }}
                   {% remember donation.account as currentPaymentMethod %}
                {% endif %}
              </span>
            </div>

            <div class="text-xs text-wm-pink">{{ donation.created_at|date:"m/d/Y" }}</div>
          </div>

          <a
            alt="Download pdf of receipt"
            class="absolute right-4 top-4 z-10"
            target="_parent"
            href="https://wemove.eu/api/receipt?akid={{ user.token }}&tx={% filter custom_hash %}{{ donation.transaction_id }}{% endfilter %}&locale={{ link_iso }}&user_fullname={{ actionkit_user.first_name }}%20{{ actionkit_user.last_name }}&user_email={{ actionkit_user.email }}&payment_method={{ currentPaymentMethod }}&payment_date={{ donation.created_at|date:"m/d/Y" }}&payment_amount={{ donation.amt }}&payment_frequency={{ currentPaymentFrequency }}"
            >
            <span aria-hidden="true" class="w-6 h-6 inline-block not-sr-only">
              {% include "./icon-download.html" %}
            </span>
            <span class="text-gray-500 sr-only">Download pdf of receipt</span>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if donations|length > 5 %}
      <button
        type="button"
        class="max-w-96 hover:underline m-auto font-gilroy text-center
        active:outline-none text-wm-purple transition-all overflow-hidden block"
        data-wm-expand-transactions-wrapper>
        View older transactions &darr;
      </button>
    {% endif %}
  {% else %}
    <div class="text-gray-600 mb-4">
      No transactions found.
    </div>
  {% endif %}
</div>
