<script>
  (async () => {
    const socialType = "{{ args.share }}";

    const decodeHTML = (html) => {
      var txt = document.createElement('textarea');
      txt.innerHTML = html;

      return txt.value;
    };

    const title = decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);

    const AKSharePageURL = "/share/link?type=ot&source={{args.share}}&page_name={{pageName}}&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.variation %}&variation={{ args.variation }}{% endif %}";

    const URLToShare = await fetch(AKSharePageURL)
      .then(async (result) => {
        return await result.text();
      });

    const socialURL = () => {
      if (socialType === "whatsapp") {
        const isMobile = () => /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        return isMobile()
          ? "whatsapp://send/"
          : "https://api.whatsapp.com/send/";
          //: "https://wa.me/" Emojis not working;
      }

      // Bluesky
      return "https://bsky.app/intent/compose";
    };

    {# Share step AB test S3 #}
    {# Description: Only for whatsapp, image vs video #}
    {# AB test page: https://action.wemove.eu/admin/lab/dash/38 #}
    {# Variations: 144 and 145 #}
    {# TEST IN DEVELOPMENT!!! #}
    {% if tests and tests.38 and page.custom_fields.share_step_ab_test_s3 == "video" %}
      const shareTextWithURL = encodeURIComponent(`{{ page.custom_fields.share_video_url }} ${title} ${URLToShare}&source=${socialType}`);
    {% else %}
      const shareTextWithURL = encodeURIComponent(`${title} ${URLToShare}&source=${socialType}`);
    {% endif %}

    window.location.href = `${socialURL()}?text=${shareTextWithURL}`;
  })();
</script>
