<a
  class="transition-all justify-center font-gilroy flex flex-wrap gap-1 !text-wm-purple hover:!no-underline hover:brightness-110"
  href="/share/link?type=fb&page_name={{ pageName }}&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.utm_medium == "email" %}&source=mailing{% endif %}"
  target="_blank"
  data-wm-pixel-event-type="Share"
  data-wm-pixel-track-type="trackCustom"
  data-wm-pixel-content-name="Facebook"
  data-wm-pixel-trigger-event="click">
  <span aria-hidden="true" class="h-[52px] w-[52px] [&_path]:fill-wm-pink">
    {% include "./icon-facebook.html" %}
  </span>
  <span class="block w-full text-center">Facebook</span>
</a>