<a
  class="transition-all text-center font-gilroy flex flex-col gap-2 items-center !text-wm-purple hover:!no-underline hover:brightness-110"
  href="/thanks/{{ pageName }}?share=whatsapp&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.utm_medium == "email" %}&source=mailing{% endif %}"
  target="_blank"
  data-wm-pixel-event-type="Share"
  data-wm-pixel-track-type="trackCustom"
  data-wm-pixel-content-name="WhatsApp"
  data-wm-pixel-trigger-event="click">
  <span aria-hidden="true" class="h-12 w-12">
    {% include "./icon-whatsapp_pink.html" %}
  </span>
  <span class="block w-full text-center">WhatsApp</span>
</a>

{% if args.share == "whatsapp" %}
  {% include "./component-share_from_mailings_script.html" %}
{% endif %}