{% if page.type == 'Petition' %}

  <div class="form-field mb-4">
    {% if page.custom_fields.ak_recaptcha_enabled == "1" %}
      <script src="https://www.google.com/recaptcha/api.js" defer justification="Google's recaptcha"></script>
      <script defer justification="Share popup: event trigger">
        function captchaCallback () {
          wemove.triggerEvent("wm-submittingPetitionAfterRecaptcha");
        };
        window.isRecaptchaEnabled = true;
      </script>

      <button type="submit" class="ak-submit-button g-recaptcha" data-sitekey="6LetQiEUAAAAAC5mkK_YsHGJjLE7vxjMTIaNn3MA" data-callback="captchaCallback">
    {% else %}
      <button type="submit" class="ak-submit-button">
    {% endif %}

      {% if page.custom_fields.sign_petition_button %}
        {{ page.custom_fields.sign_petition_button }}
      {% else %}
        {% filter ak_text:"button_sign_petition" %}
          Sign the Petition
        {% endfilter %}
      {% endif %}
    </button>
  </div>

{% elif page.type == 'Survey' %}

  <div class="mb-4">
    <button type="submit" class="ak-submit-button mx-auto max-w-[60%]">
      {% if page.custom_fields.sign_petition_button %}
        {{ page.custom_fields.sign_petition_button }}
      {% else %}
        {% filter ak_text:"submitSurvey_button" %}Send{% endfilter %}
      {% endif %}
    </button>
  </div>

{% elif page.type == 'Signup' %}

  <div class="mb-4 form-field">
    <button type="submit" class="ak-submit-button">
      {% if page.custom_fields.sign_petition_button %}
        {{ page.custom_fields.sign_petition_button }}
      {% else %}
        {% filter ak_text:"button_sign_petition" %}I'm joining!{% endfilter %}
      {% endif %}
    </button>
  </div>

{% elif page.type == 'Call' %}

  <button
    class="ak-submit-button
    mb-2 flex w-full bg-wm-orange hover:bg-wm-orange-alert text-white gap-2 justify-center p-3 uppercase font-bold rounded font-gilroy"
    {% if page.custom_fields.call_page_mode == 'tweet' %}disabled{% endif %}
    data-wm-{{ page.custom_fields.call_page_mode }}-submit>

      <span aria-label="hidden" class="w-6 h-6">
        {% if page.custom_fields.call_page_mode == 'tweet' %}
          {% include "./icon-twitter.html" %}
        {% elif page.custom_fields.call_page_mode == 'facebook' %}
          {% include "./icon-facebook.html" %}
        {% elif page.custom_fields.call_page_mode == 'call' %}
          {% include "./icon-phonecall.html" %}
        {% endif %}
      </span>

      {% if page.custom_fields.sign_petition_button %}
        {{ page.custom_fields.sign_petition_button }}
      {% else %}
        {% if page.custom_fields.call_page_mode == 'tweet' %}
          {% filter ak_text:"sendTweet_button" %}Tweet{% endfilter %}
        {% elif page.custom_fields.call_page_mode == 'facebook' %}
          {% filter ak_text:"sendFacebook_button" %}Open Facebook{% endfilter %}
        {% elif page.custom_fields.call_page_mode == 'call' %}
          {% filter ak_text:"sendCall_button" %}Start Calling{% endfilter %}
        {% endif %}
      {% endif %}
  </button>

  {% include "./component-skip_button.html" %}

{% elif page.type == 'Letter' %}

  <div class="mb-2">
    <button type="submit" class="ak-submit-button">
        {% if page.custom_fields.sign_petition_button %}
          {{ page.custom_fields.sign_petition_button }}
        {% else %}
          {% filter ak_text:"button_send_email" %}Send Email{% endfilter %}
        {% endif %}
    </button>
  </div>

  {% include "./component-skip_button.html" %}

{% endif %}