{% for donation in recurring_donations %}
  {% if donation.is_active %}
    {% remember "true" as hasActiveRecurringDonations %}
  {% endif %}
{% endfor %}

<h2 class="text-wm-purple border-b-2 mb-4 border-b-wm-pink w-full">
  {% filter ak_text:"user_recurringDonations_title" %}Recurring donations{% endfilter %}
</h2>

{% if hasActiveRecurringDonations %}
  {% for donation in recurring_donations reversed %}
    {% if donation.is_active %}
      <div hidden data-wm-cancel-recurring-donation-error>
        <h2 class="text-wm-purple border-b-2 w-full">
          {% filter ak_text:"error_genericError_title" %}Error{% endfilter %}
        </h2>
        <p>
          {% filter ak_text:"error_stopingDonationError_message" %}
          Something went wrong and we couldn’t stop your donation.
          Please contact us at <a class="text-wm-pink hover:underline" href="mailto:donate@wemove.eu">donate@wemove.eu</a> and we’ll cancel your recurring contribution.
          {% endfilter %}
        </p>
      </div>

      <div data-wm-recurring-donation-card="{{ forloop.counter }}" class="rounded-xl p-4 border-[1px] border-wm-pink text-wm-purple w-full relative">
        <aside class="flex justify-between">
          <div class="flex items-center gap-1">
            <span aria-hidden="true" class="{% if donation.is_active %}bg-green-500{% else %}bg-gray-500{% endif %} rounded-full border-black inline-block h-3 w-3"></span>
            <span>
              {% if donation.is_active %}
                {% filter ak_text:"user_donationActive_info" %}active{% endfilter %}
              {% else %}
                {% filter ak_text:"user_donationInactive_info" %}inactive{% endfilter %}
              {% endif %}
            </span>
          </div>

          {% if donation.is_active %}
            <button
              type="button"
              data-wm-open-dialog-cta="data-wm-cancel-recurring-donation"
              data-wm-dialog-id="{{ forloop.counter }}"
              class="absolute right-4 top-4 z-10 bg-gray-700 text-sm rounded block py-1 px-2 text-white hover:bg-wm-purple transition-all">
              {% filter ak_text:"user_cancelSubscription_button" %}cancel subscription{% endfilter %}
            </button>

            <div
              hidden
              data-wm-cancel-recurring-donation="{{ forloop.counter }}">
              <form
                data-wm-cancel-recurring-donation-form-id="{{ forloop.counter }}"
                data-wm-json='{% filter custom_hash %}{"subscription_id": "{{ donation.recurring_id }}", "akid": "{{ akid }}"}{% endfilter %}'>
                {% include "./component-preloader.html" %}

                <h2 class="text-wm-purple border-b-2 w-full">
                  {% filter ak_text:"user_cancelRecurringDonation_title" %}Recurring donation{% endfilter %}
                </h2>

                <p class="mb-6">
                  {% filter ak_text:"user_cancelRecurringDonation_message" %}Are you sure you want to cancel your recurring donation?{% endfilter %}
                </p>

                <div class="grid grid-cols-2 gap-4 mt-4">
                    <button
                        type="button"
                        class="bg-slate-500 rounded p-2 hover:brightness-110 text-white font-bold"
                        data-wm-close-dialog-cta>
                        {% filter ak_text:"user_cancelRecurringDonationNo_button" %}No, keep it{% endfilter %}
                    </button>

                    <button
                        type="submit"
                        class="rounded p-2 hover:brightness-110 text-white font-bold">
                        {% filter ak_text:"user_cancelRecurringDonationYes_button" %}Yes, cancel it{% endfilter %}
                    </button>
                </div>
              </form>
            </div>
          {% endif %}
        </aside>

        <main>
          <div class="flex items-center justify-center text-4xl my-4 lowercase">
            {{ donation.amt }}
            <span class="mx-2"> / </span>
            {{ donation.get_period_display }}
          </div>

          <div class="text-center">
            <div class="mb-2">
              <h5 class="mb-0">Payment method</h5>
              <span>
                {% if donation.account|lower == "wm-card" or donation.account|lower == "legacy-card" %}
                  Credit card
                {% elif donation.account|lower == "wm-sepa" or donation.account|lower == "legacy-sepa" or donation.account|lower == "legacy-banktransfer" %}
                  SEPA
                {% elif donation.account|lower == "wm-paypal" or donation.account|lower == "legacy-paypal" %}
                  PayPal
                {% elif donation.account|lower == "wm-stripe" or donation.account|lower == "legacy-stripe" %}
                {% else %}
                  {{ donation.account }}
                {% endif %}
              </span>
            </div>

            <div>
              <h5 class="mb-0">
                {% filter ak_text:"user_firstPayment_title" %}First payment{% endfilter %}
              </h5>
              <span>{{ donation.first_payment_date|date }}</span>
            </div>

            {% if donation.is_active %}
              <div>
                <h5 class="mb-0">
                  {% filter ak_text:"user_nextPayment_title" %}Next payment{% endfilter %}
                </h5>
                <span>{{ donation.next_payment_date|date }}</span>
              </div>
            {% else %}
              <div>
                <h5 class="mb-0">
                  {% filter ak_text:"user_lastPayment_title" %}Last payment{% endfilter %}
                </h5>
                <span>{{ donation.last_payment_date|date }}</span>
              </div>
            {% endif %}
          </div>
        </main>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<div
  data-wm-no-recurring-donation-card
  {% if hasActiveRecurringDonations %}hidden{% endif %}
  class="rounded-xl p-4 border-[1px] border-wm-pink text-wm-purple w-full">
  <main class="text-center text-xl">
    <p>
      {% filter ak_text:"user_noRecurringDonations_info" %}
        You don't have recurring donations
      {% endfilter %}
    </p>

    <a
      target="_blank"
      class="hover:!no-underline w-auto m-auto uppercase py-2 px-6 text-center text-base font-bold font-gilroy bg-wm-pink min-h-8 inline-block !text-white rounded transition-all hover:brightness-110"
      href="https://action.wemove.eu/donate/chip-in-wemove?selected_frequency=recurring">
        {% filter ak_text:"user_startRecurringDonation_cta" %}
          Start a recurring donation
        {% endfilter %}
    </a>
  </main>
</div>
