{% if page.followup.send_taf %}
  <div class="border-[1px] border-wm-black rounded p-2 mb-4">
    <button
      type="button"
      class="transition-all w-full text-center bg-wm-orange !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-taf-hv"
      target="_blank"
      data-wm-taf-button
      data-wm-taf-button-mailto="mailto:?subject={{ page.followup.taf_subject|urlencode }}&body={% filter referring_akid:akid|tag_links:"source=mailto"|urlencode %}{% include_tmpl page.followup.taf_body unescaped %}{% endfilter %}"
      data-wm-taf-track-url="/share/link?type=ot&source=taf{% if args.consent == "emailed" %}&page_name={{ pageName }}{% elif action %}&action_id={{ action.id }}{% else %}&page_name={{ pageName }}&akid={{ akid }}{% endif %}"
      data-wm-pixel-event-type="Share"
      data-wm-pixel-track-type="trackCustom"
      data-wm-pixel-content-name="Taf"
      data-wm-pixel-trigger-event="click">
      <span aria-hidden="true" class="h-6 w-6">
        {% include "./icon-mail.html" %}
      </span>
      <span>{% filter ak_text:"thanks_shareEmail_button" %}Share by e-mail{% endfilter %}</span>
    </button>
  </div>
{% endif %}