<h2 class="send-tweet-title">{% filter ak_text:"sendTweet_title" %}Send a tweet{% endfilter %}</h2>

<div class="form-field hide-if-previously-signed">
  <label for="tweet_body">
    {% filter ak_text:"twitter_field" %}Tweet text{% endfilter %}
  </label>
  <textarea
    data-wm-tweet-message
    name="tweet_text"
    id="tweet_body"
    rows="3"
    required
    class="form-control"></textarea>

  <div data-wm-tweet-char-count>280</div>
</div>

{% include "./user_form_wrapper.html" %}

<div data-wm-consent-inline-new-container hidden></div>

<div class="buttons-wrapper hide-if-previously-signed">
    <button
      class="btn btn-primary js-track-action js-submit"
      data-js-event-category="tweet"
      data-js-event-action="action"
      data-wm-tweet-submit
      disabled>
        <span aria-label="hidden" class="social-icon">
          {% include "./icon-twitter.html" %}
        </span>
        {% if page.custom_fields.sign_petition_button %}
          {{ page.custom_fields.sign_petition_button }}
        {% else %}
          {% filter ak_text:"sendTweet_button" %}Tweet{% endfilter %}
        {% endif %}
    </button>
  <a
    href="{{ page.followup.url }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}"
    class="skip btn btn-default">
    {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
  </a>
</div>
<div class="action-feedback-bar">
  <div class="fade in alert alert-success alert-dismissable feedback-alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Thanks for tweeting!
  </div>
</div>