<button
  type="button"
  class="transition-all text-center bg-copyurl !text-white font-bold uppercase p-3 block font-gilroy rounded hover:!no-underline hover:bg-copyurl-hv w-full"
  data-wm-copy-to-clipboard="/share/link?type=ot&page_name={{ pageName }}&source=copypaste{% if args.consent == "emailed" %}&page_name={{ pageName }}{% elif action %}&action_id={{ action.id }}{% else %}&akid={{ akid }}{% endif %}">
  <span class="copy-text">
    <span aria-hidden="true" class="h-6 w-6">
      {% include "./icon-link.html" %}
    </span>
    <span>{% filter ak_text:"copyLink_button" %}Copy url{% endfilter %}</span>
  </span>

  <span class="copied-text">
    <span aria-hidden="true" class="h-6 w-6">
      {% include "./icon-check.html" %}
    </span>
    <span>{% filter ak_text:"linkCopied_alert" %}Link copied{% endfilter %}</span>
  </span>
</button>