<script>
  document.addEventListener('wm-scriptsLoaded', () => {
    {# Share step AB test S2 #}
    {# Description: Only for whatsapp, based on a custom field we load an specific share text and image for wa #}
    {# AB test page: https://action.wemove.eu/admin/lab/dash/37 #}
    {# Example: https://action.wemove.eu/thanks/2026-06-dont-send-our-data-to-the-US-petition-EN_copy/?variation=141&share=1 #}
    {# Variations: 141, 142 and 143 #}
    {% if tests and tests.37 %}
      {% if page.custom_fields.share_step_abtest_s2 == "action" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_action"|escapeall %}I just signed a petition to stop the EU handing our fingerprints and facial images to the US. Under a new deal, European police databases would be opened up to Trump's government, in exchange for keeping visa-free travel. Join me to stop this now:{% endfilter %}`);
      {% elif page.custom_fields.share_step_abtest_s2 == "concern" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_concern"|escapeall %}I recently saw that the EU is quietly making a deal with the US that could see our fingerprints and facial images end up in Trump's hands. This worried me a lot and hardly anyone's talking about it. But the pressure is growing on our leaders to stand up to US blackmail. I just signed, will you?{% endfilter %}`);
      {% elif page.custom_fields.share_step_abtest_s2 == "question" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_question"|escapeall %}Did you know the EU is about to hand our fingerprints and facial images to Trump. It's hard to believe but the EU is quietly making a deal with the US that could do exactly that, and almost no one knows. The pressure's growing on our leaders to stand up to US blackmail. Sign and share, that's how we make this deal impossible to ignore:{% endfilter %}`);
      {% else %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
      {% endif %}
    {% else %}
      window.blueskyShareText = wemove.utilities.decodeHTML((`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
    {% endif %}
  });
</script>

{% if args.share == "bluesky" %}
  {% include "./component-share_from_mailings_script.html" %}
{% endif %}

<a
  class="mb-4 transition-all text-center w-full bg-bluesky !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-bluesky-hv"
  href="/share/link?type=bl&page_name={{ pageName }}{% if action %}&action_id={{ action.id }}{% else %}&akid={{ akid }}{% endif %}{% if args.variation %}&variation={{ args.variation }}{% endif %}"
  target="_blank">
  <span aria-hidden="true" class="h-4 w-4">
    {% include "./icon-bluesky.html" %}
  </span>
  <span>{% filter ak_text:"thanks_shareBluesky_button" %}Share on Bluesky{% endfilter %}</span>
</a>
