<div class="border-[1px] border-wm-black rounded p-2 mb-4">
  <a
    class="transition-all text-center bg-facebook !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-facebook-hv"
    href="/share/link?type=fb&page_name={{ pageName }}&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.utm_medium == "email" %}&source=mailing{% endif %}"
    target="_blank"
    data-wm-pixel-event-type="Share"
    data-wm-pixel-track-type="trackCustom"
    data-wm-pixel-content-name="Facebook"
    data-wm-pixel-trigger-event="click">
    <span aria-hidden="true" class="h-6 w-6">
      {% include "./icon-facebook.html" %}
    </span>
    <span>{% filter ak_text:"thanks_shareFacebook_button" %}Share on Facebook{% endfilter %}</span>
  </a>
</div>