<script>
  (async () => {
    const socialType = "{{ args.share }}";

    const decodeHTML = (html) => {
      var txt = document.createElement('textarea');
      txt.innerHTML = html;

      return txt.value;
    };

    {# Share step AB test S2 #}
    {# Description: Only for whatsapp, based on a custom field we load an specific share text and image for wa #}
    {# AB test page: https://action.wemove.eu/admin/lab/dash/37 #}
    {# Example: https://action.wemove.eu/thanks/2026-06-dont-send-our-data-to-the-US-petition-EN_copy/?variation=141&share=1 #}
    {# Variations: 141, 142 and 143 #}

    {% if tests and tests.37 %}
      {% if page.custom_fields.share_step_abtest_s2 == "action" %}
        const title = decodeHTML(`{% filter ak_text:"share_step_abtest_s2_action"|escapeall %}I just signed an appeal to stop Volkswagen from producing military equipment for Israel. The deal isn't signed yet, so there's still time to stop it. Add your name now and tell VW: stay out of war.{% endfilter %}`);
      {% elif page.custom_fields.share_step_abtest_s2 == "concern" %}
        const title = decodeHTML(`{% filter ak_text:"share_step_abtest_s2_concern"|escapeall %}I just learned that Volkswagen is reportedly negotiating a deal to produce military equipment for Israel. It worries me deeply, and hardly anyone is talking about it. But pressure on VW is growing and the deal isn't signed yet. I've added my name to this appeal, will you join me?{% endfilter %}`);
      {% elif page.custom_fields.share_step_abtest_s2 == "question" %}
        const title = decodeHTML(`{% filter ak_text:"share_step_abtest_s2_question"|escapeall %}Did you know Volkswagen may be about to produce military equipment for Israel? It's hard to believe, but VW is reportedly negotiating a deal that could do exactly that. The deal isn't signed yet, and pressure to keep VW out of the war is building. Sign and share now so this can't be ignored{% endfilter %}`);
      {% else %}
        const title = decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
      {% endif %}
    {% else %}
    const title = decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
    {% endif %}

    const AKSharePageURL = "/share/link?type=ot&source={{args.share}}&page_name={{pageName}}&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.variation %}&variation={{ args.variation }}{% endif %}";

    const URLToShare = await fetch(AKSharePageURL)
      .then(async (result) => {
        return await result.text();
      });

    const socialURL = () => {
      if (socialType === "whatsapp") {
        const isMobile = () => /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        return isMobile()
          ? "whatsapp://send/"
          : "https://api.whatsapp.com/send/";
          //: "https://wa.me/" Emojis not working;
      }

      // Bluesky
      return "https://bsky.app/intent/compose";
    };

    const shareTextWithURL = encodeURIComponent(`${title} ${URLToShare}&source=${socialType}`)

    window.location.href = `${socialURL()}?text=${shareTextWithURL}`;
  })();
</script>
