<script>
  (async () => {
    const urlParams = new URLSearchParams(window.location.search);

    if (urlParams.get('share') !== 'whatsapp') {
      return;
    }

    const decodeHTML = function (html) {
      var txt = document.createElement('textarea');
      txt.innerHTML = html;
      return txt.value;
    };

    const isMobile = () => /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    const whatsAppURL = isMobile()
      ? "whatsapp://send/"
      : "https://wa.me/";

    const title = decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
    const sharePageURL = "/share/link?type=ot&page_name={{page.name}}&akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.utm_medium == "email" %}&source=mailing{% endif %}";

    const whatsAppText = await fetch(sharePageURL)
      .then(async (result) => {
        const urlToShare = await result.text();
        return encodeURIComponent(`${title} ${urlToShare}&source=whatsapp`);
      });

    window.location.href = `${whatsAppURL}?text=${whatsAppText}`;
  })();
</script>