{% store as featured_video %}{% if page.custom_fields.featured_video %}{{ page.custom_fields.featured_video }}{% else %}{% report "custom_field_from_page_or_campaign" with cache_key as key page.id as page_id "featured_video" as field_name %}{% endif %}{% endstore %}
{% store as featured_image %}{% if page.custom_fields.featured_image %}{{ page.custom_fields.featured_image }}{% else %}{% report "custom_field_from_page_or_campaign" with cache_key as key page.id as page_id "featured_image" as field_name %}{% endif %}{% endstore %}
{% if featured_video %}
  {% include "./component-featured-video.html" with featured_video=featured_video %}
{% elif featured_image %}
  {% include "./component-featured-image.html" with featured_image=featured_image %}
{% endif %}
