<script>
  document.addEventListener('wm-scriptsLoaded', () => {
    {% if tests and tests.37 %}
      {% if page.custom_fields.share_step_abtest_s2 == "action" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_action" %}TODO: Action text{% endfilter %}|escapeall }}`);
      {% if page.custom_fields.share_step_abtest_s2 == "concern" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_concern" %}TODO: Concern text{% endfilter %}|escapeall }}`);
      {% if page.custom_fields.share_step_abtest_s2 == "question" %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{% filter ak_text:"share_step_abtest_s2_question" %}TODO: Question text{% endfilter %}|escapeall }}`);
      {% else %}
        window.blueskyShareText = wemove.utilities.decodeHTML((`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
      {% endif %}
    {% else %}
    window.blueskyShareText = wemove.utilities.decodeHTML((`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
    {% endif %}
  });
</script>

{% if args.share == "bluesky" %}
  {% include "./component-share_from_mailings_script.html" %}
{% endif %}

<a
  class="mb-4 transition-all text-center w-full bg-bluesky !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-bluesky-hv"
  href="/share/link?type=bl&page_name={{ pageName }}{% if action %}&action_id={{ action.id }}{% else %}&akid={{ akid }}{% endif %}{% if args.variation %}&variation={{ args.variation }}{% endif %}"
  target="_blank">
  <span aria-hidden="true" class="h-4 w-4">
    {% include "./icon-bluesky.html" %}
  </span>
  <span>{% filter ak_text:"thanks_shareBluesky_button" %}Share on Bluesky{% endfilter %}</span>
</a>
