<script>
  document.addEventListener('wm-scriptsLoaded', () => {
    window.blueskyShareText = wemove.utilities.decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
  });
</script>

{% if args.share == "bluesky" %}
  {% include "./component-share_from_mailings_script.html" %}
{% endif %}

<a
  class="transition-all justify-center font-gilroy flex flex-wrap gap-1 !text-wm-purple hover:!no-underline hover:brightness-110"
  href="/share/link?type=bl{% if args.utm_medium == "email" %}&source=mailing{% endif %}{% if action %}&action_id={{ action.id }}{% else %}&page_name={{ pageName }}&akid={{ akid }}{% endif %}"
  target="_blank"
  data-wm-pixel-event-type="Share"
  data-wm-pixel-track-type="trackCustom"
  data-wm-pixel-content-name="Bluesky"
  data-wm-pixel-trigger-event="click">
  <span aria-hidden="true" class="h-12 w-12">
    {% include "./icon-bluesky_pink.html" %}
  </span>
  <span class="block w-full text-center">Bluesky</span>
</a>