{% include "./user_form_wrapper.html" %}

<div class="buttons-wrapper">
    <button class="btn btn-lg btn-primary btn-block js-track-action js-dial-representative" data-js-event-category="call" data-js-event-action="action" data-decision-id="105346" data-campaign-id="3562">
      <i style="position: relative; top: -1px" class="fa fa-phone call-icon"></i>
      <i class="fa fa-spinner fa-pulse fa-fw hidden call-in-progress-icon"></i>CONNECTION TO <strong>TARGET NAME</strong><br>FREE SERVICE
    </button>
  <a
    href="{{ page.followup.url }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}"
    class="skip btn btn-default">
    {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
  </a>
</div>

<div id="call-status" style="text-align: center;"></div>

{% block script_additions %}
<script>
  var current_call_recipient;
  var current_call_action;
  var current_call_akid;

  $('.js-dial-representative').on('click', function (evt) {
    evt.preventDefault();
    $('#call-status').html('Calling...');
    $('.js-dial-representative').attr('disabled', 'disabled');

    var ak_form = $('form[name="act"]');
    $.ajax({
      "method": "POST",
      "url": '/rest/v1/action/',
      "data": ak_form.serialize(),
      "success": function (response) {
        console.log('AK Response', response);
        current_call_action = response.action_id;
        current_call_akid = response.akid;

        $.ajax({
          "method": "POST",
          "url": 'https://act.wemove.support/twilio/api/call/start',
          "data": {
            'decision_id': '{{ page.custom_fields.call_decision_id }}',
            'campaign_id': '{{ page.custom_fields.call_campaign_id }}',
            'source_id': '{{ page.custom_fields.call_source_id }}',
            'rcall_id': '',
            'use_known_member_data': 'true',
            'known_member_data': '',
            'email': $('#id_email').val(),
            'firstname': $('#id_name').val(),
            'lastname': '',
            'phone': $('#id_phone').val(),
            'country':  $('#id_country').val(),
            'postcode': $('#id_postal').val()
          },
          "success": function (response) {
            console.log('Response', response);
            current_call_recipient = response.rcall_recipient_id;
            check_call_status();
          }
        });
      }
    });
  });

  function check_call_status () {
    poll_for_status((status) => {
      if (!status) {
        console.log('Call status is null, checking again');
        check_again()
      } else if (status == 'interstitial') {
        console.log('Call status is interstitial, checking again');
        check_again()
      } else if (status == 'failed') {
        $('#call-status').html('Call failed.');
        $('.js-dial-representative').removeAttr('disabled');
        console.log('Call status is failed');

      } else if (status == 'success') {
        $('#call-status').html('Call connected!');
        console.log('Call status is success');
        check_again()

      } else if (status == 'completed') {
        $('#call-status').html('Call completed');
        $('.js-dial-representative').removeAttr('disabled');
        console.log('Call status is completed');

      } else {
        console.log('Call status is unexpected:', status);
        $('#call-status').html('Call failed. (' + status + ')');
        $('.js-dial-representative').removeAttr('disabled');
      }
    });
  }

  function check_again () {
    setTimeout(function () {
      check_call_status()
    }, 100);
  }

  function poll_for_status ( status_callback ) {
    $.ajax({
      "method": "GET",
      "url": 'https://act.wemove.support/twilio/rcall_recipient/' + current_call_recipient + '/status',
      "success": function (response) {
        console.log('Status', response);
        status_callback( response.call_status );
      }
    });
  }
</script>

<script>
  $(window).load(function () {
    $('#target_checkboxes').appendTo('div#who_called');

    const $window = $(window);

    function call_page_steps_mobile() {
      const windowSize = $window.width();

      if (windowSize < 480) {
        $('.ak-steps-area h3').addClass('clickable');
      } else {
        $('.ak-steps-area h3').removeClass('clickable');
        $('.ak-steps-area h3').each( function () {
          $(this).siblings('div').show();
        });
      }
    }
    $('.ak-steps-area').on('click', 'h3.clickable', function (e) {
      e.stopPropagation();
      $(this).toggleClass('active');
      $(this).siblings('div').stop().slideToggle('fast');
    });

    $(window).on('resize', call_page_steps_mobile);
    call_page_steps_mobile();
  });
</script>
{% endblock %}
