<script>
  document.addEventListener('wm-scriptsLoaded', () => {
    window.blueskyShareText = wemove.utilities.decodeHTML(`{{ page.followup.twitter_message|default:page.title|escapeall }}`);
  });
</script>

{% if args.share == "bluesky" %}
  {% include "./component-share_from_mailings_script.html" %}
{% endif %}

<a
  class="mb-4 transition-all text-center w-full bg-bluesky !text-white font-bold uppercase p-3 font-gilroy rounded flex items-center gap-2 justify-center hover:!no-underline hover:bg-bluesky-hv"
  href="/share/link?type=bl&page_name={{ pageName }}{% if action %}&action_id={{ action.id }}{% else %}&akid={{ akid }}{% endif %}"
  target="_blank">
  <span aria-hidden="true" class="h-4 w-4">
    {% include "./icon-bluesky.html" %}
  </span>
  <span>{% filter ak_text:"thanks_shareBluesky_button" %}Share on Bluesky{% endfilter %}</span>
</a>