
<select name="{{ input_name_prefix }}country" id="id_{{ input_name_prefix }}country" {% if onchange %}onchange="{{ onchange }}" onblur="{{ onchange }}"{% endif %}>
    <option selected value="">{% filter capfirst %}{% filter ak_field:"country" %}Country{% endfilter %}{% endfilter %}</option>
    <option value="al">{% filter ak_field:"Albania" %}Albania{% endfilter %}</option>
    <option value="at">{% filter ak_field:"Austria" %}Austria{% endfilter %}</option>
    <option value="be">{% filter ak_field:"Belgium" %}Belgium{% endfilter %}</option>
    <option value="ba">{% filter ak_field:"Bosnia and Herzegovina" %}Bosnia and Herzegovina{% endfilter %}</option>
    <option value="bg">{% filter ak_field:"Bulgaria" %}Bulgaria{% endfilter %}</option>
    <option value="hr">{% filter ak_field:"Croatia" %}Croatia{% endfilter %}</option>
    <option value="cy">{% filter ak_field:"Cyprus" %}Cyprus{% endfilter %}</option>
    <option value="cz">{% filter ak_field:"Czechia" %}Czechia{% endfilter %}</option>
    <option value="dk">{% filter ak_field:"Denmark" %}Denmark{% endfilter %}</option>
    <option value="ee">{% filter ak_field:"Estonia" %}Estonia{% endfilter %}</option>
    <option value="fi">{% filter ak_field:"Finland" %}Finland{% endfilter %}</option>
    <option value="fr">{% filter ak_field:"France" %}France{% endfilter %}</option>
    <option value="de">{% filter ak_field:"Germany" %}Germany{% endfilter %}</option>
    <option value="gr">{% filter ak_field:"Greece" %}Greece{% endfilter %}</option>
    <option value="hu">{% filter ak_field:"Hungary" %}Hungary{% endfilter %}</option>
    <option value="is">{% filter ak_field:"Iceland" %}Iceland{% endfilter %}</option>
    <option value="ie">{% filter ak_field:"Ireland" %}Ireland{% endfilter %}</option>
    <option value="it">{% filter ak_field:"Italy" %}Italy{% endfilter %}</option>
    <option value="lb">{% filter ak_field:"Latvia" %}Latvia{% endfilter %}</option>
    <option value="lt">{% filter ak_field:"Lithuania" %}Lithuania{% endfilter %}</option>
    <option value="lu">{% filter ak_field:"Luxembourg" %}Luxembourg{% endfilter %}</option>
    <option value="ma">{% filter ak_field:"Malta" %}Malta{% endfilter %}</option>
    <option value="mo">{% filter ak_field:"Montenegro" %}Montenegro{% endfilter %}</option>
    <option value="ne">{% filter ak_field:"Netherlands" %}Netherlands{% endfilter %}</option>
    <option value="no">{% filter ak_field:"North Macedonia" %}North Macedonia{% endfilter %}</option>
    <option value="no">{% filter ak_field:"Norway" %}Norway{% endfilter %}</option>
    <option value="po">{% filter ak_field:"Poland" %}Poland{% endfilter %}</option>
    <option value="pt">{% filter ak_field:"Portugal" %}Portugal{% endfilter %}</option>
    <option value="ro">{% filter ak_field:"Romania" %}Romania{% endfilter %}</option>
    <option value="se">{% filter ak_field:"Serbia" %}Serbia{% endfilter %}</option>
    <option value="sk">{% filter ak_field:"Slovakia" %}Slovakia{% endfilter %}</option>
    <option value="sl">{% filter ak_field:"Slovenia" %}Slovenia{% endfilter %}</option>
    <option value="es">{% filter ak_field:"Spain" %}Spain{% endfilter %}</option>
    <option value="se">{% filter ak_field:"Sweden" %}Sweden{% endfilter %}</option>
    <option value="ch">{% filter ak_field:"Switzerland" %}Switzerland{% endfilter %}</option>
    <option value="tr">{% filter ak_field:"Turkey" %}Turkey{% endfilter %}</option>
    <option value="gb">{% filter ak_field:"United Kingdom" %}United Kingdom{% endfilter %}</option>
</select>

{% if not input_name_prefix %}
    {% if filename != "event_search.html" and filename != "recurring_update.html" %}
        <!-- Canada explicit opt-in box -->
        <div id="ak-fieldbox-subscription_consent">
            <input type="hidden" id="id_suppress_subscribe" name="suppress_subscribe" value="">
            <input class="no-overlay" type="checkbox" id="id_subscription_consent" name="subscription_consent" value="1">
            <label for="id_subscription_consent">Subscribe me to email updates</label>
            <span id="id_subscription_consent_more_lnk">(<a href="#">details</a>)</span>
            <div id="id_subscription_consent_more">
                If you don't subscribe, you might miss news on this campaign
                or future opportunities to act. (If you're already subscribed,
                leaving this box unchecked won't remove you.)
            </div>

            <script>
            $('#id_subscription_consent_more_lnk a').click(function() {
                $('#id_subscription_consent_more_lnk').hide();
                $('#id_subscription_consent_more').show();
                return false;
            })
            $('#id_subscription_consent').change(function() {
                $('#id_suppress_subscribe').val(this.checked ? '' : '1')}
            );
            $('#id_{{ input_name_prefix }}country').change(function() {
                var country = $(this).val();
                if (country == 'Canada') {
                    $('#id_suppress_subscribe').val('1')
                    $('#id_subscription_consent').attr('checked', false)
                    $('#ak-fieldbox-subscription_consent').show()
                }
                else {
                    $('#id_suppress_subscribe').val('')
                    $('#ak-fieldbox-subscription_consent').hide()
                }
            });
            </script>

            <!-- With JavaScript off, we can't show a consent box -->
            <noscript><input type="hidden" name="suppress_subscribe_in" value="Canada"></noscript>
        </div>
    {% endif %}
{% endif %}
