<script src="/static/admin/js/collapse.js"></script>

<style>
	#campaign_form, #campaign_output, #campaign_matches, #pages_output, #mailings_output, #not_found, #page_form, #mailing_form {
		display: none;
	}
	#campaign_matches ul {
		list-style: initial;
	}
	.language-picker input { margin: 0; }
	input[type=text] {
		width: 300px;
	}
	
	#campaign_search {
		border: 1px solid #ccc;
		background: #eee;
		padding: 0.25em;
	}
	#campaign_search input[type="search"] {
		border-radius: 99px;
		padding: 0.25em 0.5em;
	}
	#campaign_search a.clear-search {
		font-size: 120%;
		margin-left: -1.5em;
		margin-right: 0.8em;
	}
	
	.form-row-CheckboxInput .form-control label { float: none }
	
</style>

<form method="GET" id="campaign_search">
	Campaign:
	<input type="search" name="searched_name" value="{{searched_name}}" placeholder="Type a name to search or create a campaign" size="40">
	{% if searched_name %}
		<a class="clear-search" href="?">&times;</a>
	{% endif %}
	<input type="submit" value="&#x1F50D; Search">
</form>

{% if not searched_name %}

<section id="campaign-list">
	<h2>Campaigns</h2>
	<table class="changelist-table">
	</table>
</section>

<script>
	$( function () {
		showCampaignList();
	} );
</script>

{% else %}

<section id="campaign_matches">
	These campaigns match your search:
	<ul></ul>
</section>

<section id="campaign_output">
	<h2>Campaign Details</h2>
	<div id="camp_id" class="form-row form-row-CheckboxInput clearfix">			
		<div class="form-label col span_1_of_4">
			<label for="id_display_name">Page ID</label>
		</div>
		<div class="form-control col span_3_of_4">
			<span></span>
		</div>
	</div>
	<div id="camp_name" class="form-row form-row-CheckboxInput clearfix">
		<div class="form-label col span_1_of_4">
			<label>Name: </label>
		</div>
		<div class="form-control col span_3_of_4">
			<span></span>
		</div>
	</div>
	<div id="camp_topic" class="form-row form-row-CheckboxInput clearfix">
		<div class="form-label col span_1_of_4">
			<label>Topic: </label>
		</div>
		<div class="form-control col span_3_of_4">
			<span></span>
		</div>
	</div>
	<div id="camp_lead_campaigner" class="form-row form-row-CheckboxInput clearfix">
		<div class="form-label col span_1_of_4">
			<label>Lead Campaigner: </label>
		</div>
		<div class="form-control col span_3_of_4">
			<span></span>
		</div>
	</div>
	<button id="open_edit">&#xFE0F; Edit</button>
</section>

<section id="campaign_form">
	<p id="not_found" class="warning">No campaign matches this name, do you want to create it?</p>
	<h2>Create Campaign</h2>
	<form>
		<div class="form-row">
			<div class="form-label col span_1_of_4"><label>Short Name: </label></div>
			<div class="form-control col span_3_of_4">
                                <input name="name" placeholder="YYYY-MM-internal-name-no-spaces" type="text" id="name">
                        </div>
		</div>
		<div class="form-row">
			<div class="form-label col span_1_of_4"><label>Title: </label></div>
			<div class="form-control col span_3_of_4">
                                <input name="title" placeholder="Staff-Facing Title For This Campaign" type="text" id="title">
                        </div>
		</div>
		<div class="form-row topic-picker">
			<div class="form-label col span_1_of_4"><label>Topic: </label></div>
			<div class="form-control col span_3_of_4">
                                <select name="topic" id="topic">
                                        <option value="">Choose one:</option>
                                </select>
                        </div>
		</div>
		<div class="form-row lead_campaigner-picker">
			<div class="form-label col span_1_of_4"><label>Lead Campaigner: </label></div>
			<div class="form-control col span_3_of_4">
                                <select name="lead_campaigner" id="lead_campaigner">
                                        <option value="">Choose one:</option>
                                </select>
                        </div>
		</div>
	</form>
	<button id="save_campaign">Save</button>
</section>

<section id="pages_output">
	<h2>Action Pages</h2>
	<table>
	</table>
	<button id="add_step">Add A Step</button>
</section>

<form>
<fieldset id="page_form" style="display: none">
	<h2>Add a Journey Step</h2>
	<div class="fieldset-contents">
		<div class="form-row form-row-CheckboxInput language-picker">
			<div class="form-label col span_1_of_4"><label>Languages:</label></div>
			<div class="form-control col span_3_of_4"></div>
		</div>
		<div class="form-row form-row-CheckboxInput">
			<div class="form-label col span_1_of_4"><label>Action type:</label></div>
			<div class="form-control col span_3_of_4">
				<label><input type="radio" name="action_type" value="petition"> Petition</label>
				<label><input type="radio" name="action_type" value="share" disabled> Share</label>
				<label><input type="radio" name="action_type" value="donation" disabled> Donation</label>
				<label><input type="radio" name="action_type" value="email" disabled> Email</label>
				<label><input type="radio" name="action_type" value="tweet" disabled> Tweet</label>
				<label><input type="radio" name="action_type" value="call" disabled> Call</label>
				<label><input type="radio" name="action_type" value="facebook" disabled> Facebook</label>
			</div>
		</div>
		<div class="form-row step-picker">
			<div class="form-label col span_1_of_4"><label>Step:</label></div>
			<div class="form-control col span_3_of_4">
				<select name="after_step">
					<option value="">First step of journey</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-label col span_1_of_4"><label>Internal Name: </label></div>
			<div class="form-control col span_3_of_4">
				<input type="text" name="notes" value="{{searched_name}}">-XX<br/>
				<p class="help">This will be used to also initialise the URL slug (ActionKit's "short name"), so don't forget to change it!</p>
			</div>
		</div>
		<button id="create_pages" class="button-main">Create Pages</button>
	</div>
</fieldset>
</form>

<section id="mailings_output">
	<h2>Mailings</h2>
	<table>
		<tr><th scope="column">Name</th><th scope="column">Send date</th><th scope="column"></th></tr>
	</table>
</section>

<form>
<fieldset id="mailing_form" class="collapse collapsed">
	<h2>Add mailings</h2>
	<div class="fieldset-contents">
		<div class="form-row form-row-CheckboxInput language-picker">
			<div class="form-label col span_1_of_4"><label>Languages:</label></div>
			<div class="form-control col span_3_of_4"></div>
		</div>
		<div class="form-row form-row-CheckboxInput moment-picker">
			<div class="form-label col span_1_of_4"><label>Moment:</label></div>
			<div class="form-control col span_3_of_4"></div>
		</div>
		<div class="form-row form-row-CheckboxInput ask_type-picker">
			<div class="form-label col span_1_of_4"><label>Ask type:</label></div>
			<div class="form-control col span_3_of_4"></div>
		</div>
		<div class="form-row">
			<div class="form-label col span_1_of_4"><label>Name: </label></div>
			<div class="form-control col span_3_of_4"><input type="text" name="notes" value="{{searched_name}}">-XX</div>
		</div>
		<button id="create_mailings">Create mailings</button>
	</div>
</fieldset>
</form>

<script>
	var searched_name = "{{searched_name}}";
	$( function () {
		readCampaigns(searched_name);
	} );
</script>

{% endif %}

<script>
	var apiRoot = "/rest/v1";
	var models = {campaign_name: "models"};
	var raw_campaigns = null;
	var campaign_list = null;
	var languages = {};
	var coreLanguages = ["Dutch", "English", "French", "German", "Italian", "Polish", "Spanish"];
	var multilingual_campaigns = {};
</script>

<script>

function api(method, path, data) {
	console.log("AK API Call:", method, path, data);
    return $.ajax({
        type: method,
        url: `${apiRoot}/${path}`,
        contentType: 'application/json',
        processData: ( method == 'GET' ? true : false ),
        data: ( method == 'GET' ? data : JSON.stringify(data) )
    }).fail(function(xhr, rstatus, rerror) {
		console.log("AK API Error:", method, path, data, rstatus, rerror);
  });
}

function readLanguages() {
    api('GET', "language/").done(function(result) {
        result.objects.forEach(function(lang) {
            window.languages[lang.resource_uri] = lang;
            if (coreLanguages.includes(lang.name)) {
				var checked_attr = ( 1 || lang.iso_code == 'en' || lang.iso_code == 'fr' ) ? 'checked="checked"' : '';
                $('.language-picker .form-control').append(
                    ` <label><input type="checkbox" value="${lang.resource_uri}" data-iso_code="${lang.iso_code.toUpperCase()}" ${checked_attr}> ${lang.name}</label>`
                );
            }
        });
    });
}

function readCampaigners() {
    api('GET', "authuser/", { is_active: 'true', order_by: '-id', _limit: 100 } ).done(function(result) {
        result.objects.map( staff => `${staff.first_name} ${staff.last_name}`)
		.sort().forEach(function(staff_name) {
            $('.lead_campaigner-picker .form-control select').append(
                ` <option value="${staff_name}">${staff_name}</option>`
            );
        });
    });
}

function readModels() {
    var prefix = window.models.campaign_name + ":";
    $.when(
        api('GET', "multilingualcampaign/", { name__startswith: prefix }),
        api('GET', "page/", { field__name: 'campaign', field__value: window.models.campaign.id })
    ).done(function(mcamps, pages) {
        mcamp_types = {};
        mcamps[0].objects.forEach(function(mcamp) {
            const action_type = mcamp.name.slice(prefix.length);
            mcamp_types[mcamp.resource_uri] = action_type;
        });
        pages[0].objects.forEach(function(page) {
            const action_type = mcamp_types[page.multilingual_campaign];
            if (action_type) {
                if (!window.models[action_type]) {
                    window.models[action_type] = {};
                }
                window.models[action_type][page.language] = page.id;
            }
        });
    });
}

function readFieldValues(field_name, entity, default_value) {
    return api('GET', `allowed${entity}field/${field_name}`).done(function(field) {
        var $formControl = $(`.${field_name}-picker .form-control`);
        var $select = $formControl.find('select');
        field.choices.forEach(function(opt) {
            if ($select.length) {
                $select.append(`<option value="${opt[0]}">${opt[1]}</option>`);
            } else {
                $formControl.append(
                    ` <label><input type="radio" name="${field_name}" value="${opt[0]}"> ${opt[1]}</label>`
                );
            }
        });
        if (default_value) {
            $select.val(default_value);
        }
    });
}

function fetchCampaigns() {
	return api('GET', "allowedpagefield/campaign")
		.done(function(field) {
			raw_campaigns = field.field_choices;
			campaign_list = field.choices.map((opt) => ({id: opt[0], name: opt[1]}))
												.sort( (c1,c2) => c2.id - c1.id );
		} );
}

function readCampaigns(searched_name) {
	fetchCampaigns().done( function() {
		matches = campaign_list.filter(function(camp) {
			return camp.name.includes(searched_name);
		});
		if (matches.length == 0) {
			displayCreateForm(searched_name);
		} else if (matches.length == 1) {
			model_campaign = campaign_list.find((camp) => camp.name == window.models.campaign_name);
			window.models.campaign = model_campaign;
			displayCampaign(matches[0]);
		} else {
			displayMatches(matches);
		}
	});
}

function showCampaignList() {
	fetchCampaigns().done( function() {
		const table = $('#campaign-list table');
		campaign_list.forEach( function(cmp) {
			table.append(
                ` <tr class="item"><td><a href="?searched_name=${cmp.name}">${cmp.name}</a></td></tr>`
			);
		} );
	} );
}

function readMultilingualCampaigns(prefix) {
    return api('GET', "multilingualcampaign/", { name__startswith: prefix } ).done(function(camps) {
        camps.objects.forEach(function(camp) {
            multilingual_campaigns[camp.resource_uri] = camp.name;
            $('.step-picker .form-control select').append(
                ` <option value="${camp.resource_uri}">After ${camp.name}</option>`
            );
        });
    });
}

function displayCreateForm(default_name) {
    readFieldValues('topic', 'page');
    readCampaigners();
    $('#save_campaign').on('click', saveCampaignPage);
    $('#campaign_form').show().find('#name').val(default_name);
    $('#not_found').show();
}

function displayEditForm(page) {
    readFieldValues('topic', 'page', page.fields.topic);
    readCampaigners(page.fields.lead_campaigner);
    $('#campaign_form').data('campaign_id', page.id);
    $('#campaign_form #name').val(page.name).attr('readonly', 'readonly');
    $('#save_campaign').on('click', saveCampaignPage);
    $('#campaign_output').hide();
    $('#campaign_form').show();
}

function displayCampaign(camp) {
    readLanguages();
    readModels();
    api('GET', "page/" + camp.id).done(function(page) {
        $('#campaign_output #camp_id span').text(camp.id);
        $('#campaign_output #camp_name span').text(camp.name);
        $('#campaign_output #camp_topic span').text(page.fields.topic);
        $('#campaign_output #camp_lead_campaigner span').text(page.fields.lead_campaigner);
        $('#campaign_output').show();
        $('#open_edit').on('click', function() {
            displayEditForm(page);
        });
    });
    readMultilingualCampaigns(camp.name).done(function() {
        displayPages(camp);
        displayMailings(camp);
    });
}

function displayPages(campaign) {
    api('GET', "page/", { field__name: 'campaign', field__value: campaign.id })
	.done(function(result) {
        var pages = {};
        result.objects.forEach(function(page) {
            if (page.id != campaign.id) {
                if (!pages[page.language]) pages[page.language] = [];
                pages[page.language].push(page);
            }
        });
        var langs = Object.keys(pages);
        if (langs.length) {
            sortJourney(pages);
            langs.forEach(function(lang) {
                $('#pages_output table').append(
                    `<tr><th scope="row">${languages[lang].name}</th>`
                    + pages[lang].map((p) => `<td>${pageLink(p)}${p.next_step ? ' ➡ ' : ''}</td>`).join("")
                    + "</tr>"
                );
            });
        } else {
            $('#pages_output table').html('<tr><td>No action pages yet</td></tr>');
        }
        window.journey = { pages: pages };
        if (langs.length) {
            $('#page_form input[value=share]').removeAttr('disabled');
        }
        $('#page_form').data('campaign', campaign);
        $('#pages_output').show();
        $('#page_form input[name=action_type]').on('click', function() {
            $('#page_form input[name=notes]').val(campaign.name + "-" + this.value);
        });
        $('#create_pages').on('click', createPages);
        $('#add_step').on('click', function () {
				$('#add_step').hide();
                $('#page_form').show();
        });
    });
}

function sortJourney(pages) {
    Object.keys(pages).forEach(function(lang) {
        pages[lang].forEach(function(page) {
            var next_url = page.followup ? page.followup.url : "";
            var linked_page = pages[lang].find((p) => next_url.match("/" + p.name + "/?($|\\?)"));
            if (linked_page) {
                if (next_url.startsWith("/thanks/")) {
                    var action_type = next_url.endsWith("?done=1") ? "thanks" : "share";
                    page.next_step = { id: linked_page.id, type: linked_page.type, action_type: action_type, previous_step: page };
                    if (action_type == "share") {
                        page.next_step.next_step = { id: linked_page.id, type: linked_page.type, action_type: "thanks", previous_step: page.next_step };
                    }
                } else {
                    page.next_step = linked_page;
                    linked_page.previous_step = page;
                }
            }
        });
        var lang_journey = [];
        var cur_page = pages[lang].find((p) => !p.previous_step && p.next_step);
        //Don't you dare linking a page to itself!
        while (cur_page) {
            lang_journey.push(cur_page);
            cur_page = cur_page.next_step;
        }
        var orphans = pages[lang].filter((p) => !p.previous_step && !p.next_step);
        pages[lang] = lang_journey.concat(orphans);
    });
}

function pageLink(page) {
    var action_type = page.action_type;
    if (!action_type) {
        var mcamp = multilingual_campaigns[page.multilingual_campaign];
        action_type = mcamp ? mcamp.split(':')[1].trim() : page.type;
    }
    return `<a href="/cms/view_by_page_id/${page.id}/">${action_type}</a> <a href="/admin/core/${page.type.toLowerCase()}page/${page.id}/change/">✎</a>`;
}

function displayMailings(campaign) {
    api('GET', "mailing/", { field__name: 'campaign', field__value: campaign.id } ).done(function(result) {
        var mailings = result.objects;
        mailings.sort((m1,m2) => m1.notes.localeCompare(m2.notes));
        if (mailings.length) {
            mailings.forEach(function(mailing) {
                $('#mailings_output table').append(
                    `<tr><th scope="row">${mailing.notes}</th>`
                    + `<td>${mailing.started_at}</td>`
                    + `<td>${mailingLink(mailing)}</td>`
                    + "</tr>"
                );
            });
        } else {
            $('#mailings_output table').html('<tr><td>No mailing yet</td></tr>');
        }
        $('#mailing_form').data('campaign', campaign);
        $('#mailings_output,#mailing_form').show();
        readFieldValues('moment', 'mailing').done(function() {
            $('#mailing_form input[name=moment]').on('click', function() {
                $('#mailing_form input[name=notes]').val(campaign.name + "-" + this.value);
            });
        });
        readFieldValues('ask_type', 'mailing');
        $('#create_mailings').on('click', createMailings);
    });
}

function mailingLink(mailing) {
    var label = "Edit", path = "drafts/compose";
    if (mailing.started_at) {
        label = "Report";
        path = "reports";
    }
    return `<a href="/mailings/${path}/${mailing.id}">${label}</a>`;
}

function displayMatches(matches) {
    $matchList = $('#campaign_matches ul');
    matches.forEach(function(camp) {
        $matchList.append('<li><a href="?searched_name=' + camp.name + '">' + camp.name + '</a></li>');
    });
    $('#campaign_matches').show();
}

function saveCampaignPage() {
    var campaign_id = $('#campaign_form').data('campaign_id');
    if (campaign_id) {
        setCampaignMetadata(campaign_id);
    } else {
        createCampaignPage();
    }
}

function createCampaignPage() {
    var campaign_name = $('#name').val();
    api('POST', 'signuppage/', {
        name: campaign_name,
        title: $('#title').val()
    }).done(function () {
	    var campaign_name = $('#name').val();
	    api('GET', "signuppage/", {
			name: campaign_name
		}).done(function(result) {
	        var campaign_id = result.objects[0].id;
	        api('PATCH', "allowedpagefield/campaign", {
	            field_choices: raw_campaigns + "\n" + campaign_id + "=" + campaign_name
	        }).done(() => setCampaignMetadata(campaign_id));
	    });
	});
}

function setCampaignMetadata(campaign_id) {
    $.ajax({
        type: 'PATCH',
        url: apiRoot + '/signuppage/' + campaign_id,
        contentType: 'application/json',
        processData: false,
        data: JSON.stringify({
            fields: {
                campaign: campaign_id,
                topic: $('#topic').val(),
                lead_campaigner: $('#lead_campaigner').val()
            }
        })
    }).done(function() {
		document.location = "?searched_name=" + $('#name').val();
	});
}

function pageType(actionType) {
    if (actionType == 'tweet') {
        return 'call';
    } else if (actionType == 'share') {
        return 'petition';
    } else {
        return actionType;
    }
}

function multilingualCampaignFor(campaign_name, action_type) {
    if (action_type == 'share' && window.journey.pages.length) {
        // This assumes that the share step is defined in the first step of the journey (for any language)
        var first_language = Object.keys(journey.pages)[0];
        var mcamp_uri = journey.pages[first_language][0].multilingual_campaign ;
        return $.Deferred().resolve(mcamp_uri);
    }
    //If the action type is share but there is no page yet in the journey, this will create a multilingual campaign for it
    //TODO Maybe not what we want?
    var mcamp_name = campaign_name + ': ' + action_type;
    mcamp = Object.keys(multilingual_campaigns).find((uri) => multilingual_campaigns[uri].toLowerCase() == mcamp_name);
    if (mcamp) {
        return $.Deferred().resolve(mcamp);
    } else {
        return api('POST', 'multilingualcampaign/', { name: mcamp_name });
    }
}

function pageViewUrl(page, special_step) {
    var path = 'act', query = '';
    if (special_step == 'thanks' || special_step == 'share') {
        path = 'thanks';
        if (special_step == 'thanks') {
            query = '?done=1';
        }
    }
    return `/${path}/${page.name}/${query}`;
}

function createPages(evt) {
    evt.preventDefault();
    $form = $('#page_form');
    var page_prefix = $form.find('input[name=notes]').val();
    var action_type = $form.find('input[name=action_type]:checked').val();
    var after_step = $form.find('select[name=after_step]').val();
    var campaign = $form.data('campaign');
    var fields = { campaign: campaign.id };
    multilingualCampaignFor(campaign.name, action_type).done(function(mcamp, _, jqXHR) {
        var calls = [];
        var mcamp_uri = mcamp || jqXHR.getResponseHeader('Location');
        $form.find('.language-picker input').each(function() {
            if (this.checked) {
                var lang = this.dataset.iso_code;
                var page_name = page_prefix + '-' + lang;
                var pages = window.journey.pages[this.value] || [];
                var followup_url = pageViewUrl({name: page_name}, 'thanks');
                if (pages.length)    {
                    var previous_page = pages.find((p) => p.multilingual_campaign == after_step);
                    if (previous_page && previous_page.followup) {
                        followup_url = previous_page.followup.url;
                        var prev_followup_url = pageViewUrl({name: page_name});
                        if (action_type == 'share') {
                            // Assuming the share step is defined in first step of the journey
                            prev_followup_url = pageViewUrl(pages[0], 'share');
                        }
                        calls.push(api('PATCH', `pagefollowup/${previous_page.followup.id}`, {
                            url: prev_followup_url
                        }));
                    } else if (!previous_page) {
                        followup_url = pageViewUrl(pages[0]);
                    }
                }

                if (action_type != 'share') {
                    calls.push(createPage(action_type, page_name, this.value, mcamp_uri, fields, followup_url));
                }
            }
        });
        $.when(...calls).done(
			() => document.location = `?searched_name=${campaign.name}`
		);
    });
}

function createPage(action_type, page_name, language, mcamp, fields, followup_url) {
    if ( ! action_type ) {
            window.alert("No action type specified when creating page");
            return;
    }
    if ( ! language ) {
            window.alert("No language specified when creating page");
            return;
    }
    const model_id = window.models[action_type][language];
    if ( ! model_id ) {
        window.alert(`Can't find a model ID for action ${action_type} in language ${language}`);
        return;
    }
    const page_type = pageType(action_type);
    return fetch(`/admin/core/${page_type}page/copy/?id=${model_id}`).then(
		function(response) {
	        const page_id = response.url.match(/\d+/)[0];
			console.log(`Created ${language} ${action_type} page ${page_id}`);
	        return api('GET', `page/${page_id}`).done(function(page) {
				return api('PATCH', `${page_type}page/${page_id}/`, {
                    name: page_name,
                    title:`Enter a Title for ${page_name}`,
					// notes: page_name,
                    language: language,
                    multilingual_campaign: mcamp,
                    fields: fields,
                }).done( function () {
	                return api('PATCH', `pagefollowup/${page.followup.id}/`, {
						url: followup_url
					})
                } );
	        });
	    });
}

function createMailings(evt) {
    evt.preventDefault();
    $form = $('#mailing_form');
    var mailing_name = $form.find('input[name=notes]').val();
    var campaign = $form.data('campaign');
    var fields = {
        campaign: campaign.id,
        moment: $form.find('input[name=moment]:checked').val(),
        ask_type: $form.find('input[name=ask_type]:checked').val(),
    };
    var calls = [];
    $form.find('.language-picker input').each(function() {
        if (this.checked) {
            var lang = this.dataset.iso_code;
            calls.push(api('POST', 'mailing', {
                notes: mailing_name + "-" + lang,
                fields: fields
            }));
        }
    });
    $.when(...calls).then(
		() => document.location = "?searched_name=" + campaign.name
	);
}

</script>
