{% extends "./wrapper.html" %}
{% block body_extra_classes %}wemove {{ block.super }}{% endblock %}

{% block css_additions %}
{% load_css %}
    //actionkit-stripe-api.wemove.support/stripe/static/index.0e2b4833.css
{% end %}
{% load_css %}
    //donate-ui.not-a2.eu/donate-main.css
{% end %}
{% comment %} Bootstrap conflict fixes {% endcomment %}
<style type="text/css">
    #donate-widget {
        font-weight: 400 !important;
    }
    #donate-widget .gap-4 {
        gap: 1rem !important;
    }
    #donate-widget .mb-3 {
        margin-bottom: 0.75rem !important;
    }
    #donate-widget .mb-2 {
        margin-bottom: 0.5rem !important;
    }
    #donate-widget .my-3 {
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    }
    #donate-widget .py-4 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    #donate-widget .px-5 {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    #donate-widget .px-3 {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
    #donate-widget .px-4 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    #donate-widget .p-5 {
        padding: 1.25rem !important;
    }
    #donate-widget .pb-4 {
        padding-bottom: 1rem !important;
    }
    #donate-widget .text-primary {
        color: #bd39db !important;
    }
    #donate-widget .bg-primary {
        background-color: #bd39db !important;
    }
    #donate-widget .disabled\:bg-primary-400:disabled {
        background-color: #ebc3f4 !important;
    }
    #donate-widget input, #donate-widget select {
        font-family: unset !important;
        font-weight: unset !important;
    }
    #donate-widget .list-none {
        list-style-type: none !important;
    }
</style>
{% endblock %}

{% block scriptadditions %}
{% load_js %}
    //cdn.tailwindcss.com
{% end %}
<script>
    {% comment %}
    https://tailwindcss.com/docs/installation/play-cdn
    These customisations are brought in via the fundraiser widget app as well, along with some
    plugins to define form components and so on. So these theme customimisations here are
    most likely redundant, but have been put here for explicitness, since they are customisations
    that could be used in other pages if we decide to go with a full tailwind CSS solution across
    all templates.
    {% endcomment %}
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    primary: {
                        DEFAULT: '#BD39DBff',
                        800: '#C655E0ff',
                        700: '#CF70E5ff',
                        600: '#D98CEAff',
                        500: '#E2A7EFff',
                        400: '#EBC3F4ff',
                        300: '#F4DEF9ff'
                    },
                    'wm-gray': {
                        extralight: '#fbfbfb',
                        light: '#999999',
                        DEFAULT: '#494949'
                    }
                },
                fontFamily: {
                    sans: ['Open Sans', 'Helvetica Neue', 'Arial', 'Verdana', 'Droid Sans', 'sans-serif']
                }
            }
        },
    }
</script>
{% endblock scriptadditions %}

{% block content %}
<section
  id="donate-widget"
  data-config_override="{{ page.custom_fields.config_override }}"
  data-oneoff_amounts="{{ page.custom_fields.oneoff_amounts }}"
  data-recurring_amounts="{{ page.custom_fields.recurring_amounts }}"
  data-recurring_type="{{ page.custom_fields.recurring_type }}"
  data-selected_currency="{{ page.custom_fields.selected_currency }}"
  data-selected_frequency="{{ page.custom_fields.selected_frequency }}"
  data-selected_amount="{{ page.custom_fields.selected_amount }}"
  data-ak_page_name="{{ page.name }}"
  data-ak_locale="{{page.lang.iso_code|default:'en'}}"
/>

{% store as next_step %}
{% if page.custom_fields.next_step %}/act/{{ page.custom_fields.next_step }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}&amp;action={{ args.action }}{% elif page.custom_fields.daisy_chain_action %}/thanks/{{ page.custom_fields.daisy_chain_action }}?share=1&amp;akid={{ akid }}&amp;action={{ args.action }}{% endif %}{% endstore %}

{% if next_step %}
<div class="row">
    <br>
    <div class="col-md-12" style="text-align: center;">
        <a href="{{ next_step }}" class="skip btn btn-default"> {% filter ak_text:"skip_this_step" %}Skip this step{% endfilter %}</a>
    </div>
</div>
{% endif %}

<div class="row" id="other_ways_giving">
    <div class="col-md-12">
        <h3>Other ways of giving</h3>
        <div class="row">
            <div class="col-md-4">
                <p> <i>You can transfer your donation to our bank account</i></p>
                <p> <i>Please include your email address as payment reference</i> </p>
                <p>
                    WeMove Europe SCE mbH<br>
                    IBAN: DE98 4306 0967 1177 7069 00<br>
                    BIC: GENODEM1GLS, GLS Bank<br>
                    Berlin, Germany
                </p>
            </div>

            <div class="col-md-3">
                <!--Make a <b>recurring</b> donation
				<a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=83" title="Donate with PayPal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
				<p> </p>
				Make a <b>one-off</b> donation
				<a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=88" title="Donate with Paypal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
				</div>-->
            </div>

            <div class="col-md-5">
                We want to be transparent and accountable about how we spend your donations - for more information
                please see our
                <strong><a href="https://www.wemove.eu/how-we-are-funded" target="_blank">Donation Policy</a></strong>.
                <br>
                <br>
                Your personal information will be kept private and held securely. By submitting information you are
                agreeing to WeMove Europe keeping you informed about campaigns and agree to the use of cookies in
                accordance with our
                <strong><a href="https://www.wemove.eu/privacy-policy" target="_blank">privacy policy</a></strong>.
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block below_form %}
<script type="module" src="//donate-ui.not-a2.eu/donate-main.js" />
{% endblock %}