{% extends "./wrapper.html" %}
{% block body_extra_classes %}wemove {{ block.super }}{% endblock %}

{% block css_additions %}
{% load_css %}
    {% if fundraiser_staging %}
        //donate-ui.not-a2.eu/donate-main.css
    {% else %}
        //donate-ui.wemove.eu/donate-main.css
    {% endif %}
{% end %}
{% endblock %}

{% block scriptadditions %}
{% load_js %}
    //cdn.tailwindcss.com
{% end %}
<script>
    {% comment %}
    https://tailwindcss.com/docs/installation/play-cdn
    These customisations are brought in via the fundraiser widget app as well, along with some
    plugins to define form components and so on. So these theme customimisations here are
    most likely redundant, but have been put here for explicitness, since they are customisations
    that could be used in other pages if we decide to go with a full tailwind CSS solution across
    all templates.
    {% endcomment %}
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    primary: {
                        DEFAULT: '#BD39DBff',
                        800: '#C655E0ff',
                        700: '#CF70E5ff',
                        600: '#D98CEAff',
                        500: '#E2A7EFff',
                        400: '#EBC3F4ff',
                        300: '#F4DEF9ff'
                    },
                    'wm-gray': {
                        extralight: '#fbfbfb',
                        light: '#999999',
                        DEFAULT: '#494949'
                    }
                },
                fontFamily: {
                    sans: ['Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', 'Droid Sans', 'sans-serif']
                }
            }
        },
    }
</script>
{% endblock scriptadditions %}

{% block content %}
<section class="donation-main">
{% if form.ask_text %}
  <div class="donation-intro">
    {% include_tmpl form.ask_text %}
  </div>
{% endif %}

  <div
    id="donate-widget"
    class="donate-widget"
    data-config_override="{{ page.custom_fields.config_override }}"
    data-oneoff_amounts="{{ page.custom_fields.oneoff_amounts }}"
    data-recurring_amounts="{{ page.custom_fields.recurring_amounts }}"
    data-recurring_type="{{ page.custom_fields.recurring_type }}"
    data-selected_currency="{{ page.custom_fields.selected_currency }}"
    data-selected_frequency="{{ page.custom_fields.selected_frequency }}"
    data-selected_amount="{{ page.custom_fields.selected_amount }}"
    data-ak_page_name="{{ page.name }}"
    data-ak_parent_page_name="{{ page.custom_fields.campaign }}"
    data-ak_locale="{{ link_iso }}"
    data-akid="{{ user.token|default_if_none:'' }}"
  ></div>
</section>

{% if page.custom_fields.hide_skip_step_button != "1" %}
  {% store as next_step %}
  {% if page.custom_fields.next_step %}/act/{{ page.custom_fields.next_step }}{% if '?' in page.followup.url %}&amp;{% else %}?{% endif %}akid={{ akid }}&amp;action={{ args.action }}{% elif page.custom_fields.daisy_chain_action %}/thanks/{{ page.custom_fields.daisy_chain_action }}?share=1&amp;akid={{ akid }}&amp;action={{ args.action }}{% endif %}{% endstore %}

  {% if next_step %}
  <div class="row next-step">
      <div class="col-md-12">
          <a href="{{ next_step }}" class="skip btn btn-default">
            {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
          </a>
      </div>
  </div>
  {% endif %}
{% endif %}

<div class="row otherWays">
    <div class="col-md-12">
        <h2>{% filter ak_text:"otherWaysOfGiving_title" %}Other ways of giving{% endfilter %}</h2>
        <div class="row">
            <div class="col-md-4">
                <p style="font-style: italic;">
                  {% filter ak_text:"otherWaysOfGiving_desc" %}
                    You can transfer your donation to our bank account
                    <br/>
                    Please include your email address as payment reference
                  {% endfilter %}
                </p>
                <p>
                  WeMove Europe SCE mbH<br>
                  IBAN: DE98 4306 0967 1177 7069 00<br>
                  BIC: GENODEM1GLS, GLS Bank<br>
                  {% filter ak_text:"bankLocation_info" %}Berlin, Germany{% endfilter %}
                </p>
            </div>

            <div class="col-md-3">
              <!--Make a <b>recurring</b> donation
              <a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=83" title="Donate with PayPal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
              <p> </p>
              Make a <b>one-off</b> donation
              <a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=88" title="Donate with Paypal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
              </div>-->
            </div>

            <div class="col-md-5">
              <p>
                {% filter ak_text:"otherWaysOfGivingMoreInfo_desc" %}
                  We want to be transparent and accountable about how we spend your donations - for more information please see our
                {% endfilter %}
              </p>
              <p>
                {% filter ak_text:"donationPrivacyPolicy_desc" %}
                  Your personal information will be kept private and held securely. By submitting information you are
                  agreeing to WeMove Europe keeping you informed about campaigns and agree to the use of cookies in
                  accordance with our
                {% endfilter %}
              </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block below_form %}
{% if fundraiser_staging %}
    <script type="module" src="//donate-ui.not-a2.eu/donate-main.js"></script>
{% else %}
    <script type="module" src="//donate-ui.wemove.eu/donate-main.js"></script>
{% endif %}
{% endblock %}