{% if can_switch_lang %}
    {% with page.translations as translations %}
        <!-- Remove this if you don't want popins like "This page also in English" -->
				<div class="siblings dropdown">
				    <button type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="dropdownsiblings"
              class="btn btn-default dropdown-toggle">
				      <img src="https://strapi.wemove.eu/uploads/icon_translate_eeaca63123.svg">
	            {% for translated_page in translations %}
	                {% if translated_page.id == page.id %}
										{{ translated_page.lang.name|default:"English" }}
	                {% endif %}
	            {% endfor %}
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="dropdownsiblings">
	            {% for translated_page in translations %}
	                {% if translated_page.id == page.id %}
	                {% else %}
							        <li>
							          <a href="{{ translated_page.derived.canonical_path }}{% for name, value in args.items %}{% if forloop.first %}?{{ name }}={{ value }}{% else %}&{{ name }}={{ value }}{% endif %}{% endfor %}">
							            {{ translated_page.lang.name|default:"English" }}
							          </a>
							        </li>
	                {% endif %}
	            {% endfor %}
				    </ul>
				  </div>
    {% endwith %}
{% endif %}
