{% extends "./wrapper.html" %}

{% block content %}

<div class="nav-md:grid gap-8 grid-cols-petition mb-8">
  <article>
    <h1>{{ page.title }}</h1>

    <div
      class="bg-wm-purple p-4 text-gray-200 mb-4
        [&_ul]:pl-4 [&_ul]:list-disc
        [&_li]:pb-4 [&_li]:mb-4 [&_li]:border-b-2
        [&_li:last-child]:border-0 [&_li:last-child]:mb-0 [&_li:last-child]:pb-0">
      {% include_tmpl form.about_text %}
    </div>

    {% if form.statement_leadin %}
      <div class="p-4 mb-4 bg-blue-200 [&_p]:m-0">
        {% include_tmpl form.statement_leadin %}

        <div id="recipients-wrapper"></div>
        <script type="text/ak-template" for="recipients-wrapper">
        [% if ( actionkit.context.recognized_user ) { %]
          [% if ( actionkit.context.targets && actionkit.context.targets.targets ) { %]
            <div class="text-right my-2">
              <button type="button" data-wm-toggle-button="recipients-list"
                class="flex gap-2 ml-auto text-wm-pink">
                <span data-wm-toggle-show-button>
                  {% filter ak_text:"show_recipients_button" %}show recipients{% endfilter %}
                </span>

                <span data-wm-toggle-hide-button>
                  {% filter ak_text:"hide_recipients_button" %}hide recipients{% endfilter %}
                </span>

                <span class="chevron-icon" aria-hidden="true">
                  {% include "./icon-chevron.html" %}
                </span>
              </button>
            </div>

            <ul class="list-disc pl-4" data-wm-toggle-content="recipients-list">
              [% for ( var t of actionkit.context.targets.targets ) { %]
                <li>[%= t.title_full %]</li>
              [% } %]
            </ul>
          [% } %]
        [% } %]
        </script>
    </div>
    {% endif %}
  </article>

  <aside>
    <form
      data-wm-form="letter"
      data-wm-floating-labels-form
      class="ak-form ak-styled-fields ak-labels-overlaid ak-errs-below bg-wm-bg-form p-4 max-w-[500px] mx-auto"
      name="act"
      method="post"
      action="/act/"
      accept-charset="utf-8">
      <input type="hidden" name="page" value="{{ page.name }}">

      {% if page.custom_fields.mailto_action == "1" %}
          <script>
	          $(function() {
            window.actionkitBeforeSubmit = function(e) {
              mailto = 'mailto:{% for target in context.targets.targets %}{{ target.email }}{% if not forloop.last %},{% endif %}{% endfor %}?subject='
                + encodeURIComponent(actionkit.form.elements.id_subject.value)
                + '&body='
                + encodeURIComponent(actionkit.form.elements.id_comment.value)
                + '';
              console.log(mailto);
              window.open(mailto);
              return true
            }
          });

          </script>
          <div class="form-field required">
          <label for="id_comment">
            {% filter ak_text:"form_field_message" %}Please write your subject here{% endfilter %}
            <span class="ak-required-flag">*</span>
          </label>

          <input
            id="id_subject"
            name="action_subject"
            class="">{% include_tmpl page.custom_fields.mailto_subject %}</input>

          <input type="hidden" name="required" value="action_subject"/>

          </div>
      {% endif %}

      {% if not page.custom_fields.hide_comments_field == "1" %}
        <div class="form-field{% if page.custom_fields.letter_body_required == "0" %}{% else %} required{% endif %}">
          <label for="id_comment">
            {% filter ak_text:"form_field_message" %}Please write your message here{% endfilter %}
            {% if page.custom_fields.letter_body_required == "0" %}{% else %}<span class="ak-required-flag">*</span>{% endif %}
          </label>

          <textarea
            id="id_comment"
            name="action_comment"
            class="">{% include_tmpl form.letter_text escaped %}</textarea>

          <input type="hidden" name="required" value="action_comment"/>

          {% if page.custom_fields.letter_body_required != "0" %}
            <input type="hidden" name="required" value="action_comment"/>
          {% endif %}
        </div>
      {% endif %}

      {% include "./user_form_wrapper.html" %}
    </form>
  </aside>
</div>

{% endblock %}
