{% extends "./wrapper.html" %}

{% block title %}
{% filter ak_text:"login_title" %}Sign in{% endfilter %} | WeMove Europe
{% endblock %}

{% block content %}
<section class="mx-auto max-w-[500px]">
  <h1>{% filter ak_text:"login_title" %}Sign in{% endfilter %}</h1>

  <p class="mb-8">
    {% filter ak_text:"loginVerification_description" %}Oops, we need to verify who you are before showing you that page!{% endfilter %}
  </p>

  <form
    class="ak-labels-overlaid ak-errs-below bg-wm-bg-form p-4 mx-auto max-w-[500px] rounded"
    name="login-form"
    method="post"
    action="/act/"
    accept-charset="utf-8"
    data-wm-form="login"
    data-wm-floating-labels-form>
    <input type="hidden" name="page" value="magic-link-confirmation-{{ request.GET.lang|default:'en' }}" />

    <input type="hidden" name="action_redirect_to" value="{{ request.GET.next }}" />

    {% if request.GET.akid %}
      <input type="hidden" name="akid" value="{{ request.GET.akid }}" />
    {% else %}
      <div
        data-wm-form-field="email"
        id="ak-fieldbox-email"
        class="form-field required field-ak-type--user field-type--email">
        <label for="id_email" class="ak-is-overlaid ak-error">
          {% filter ak_text:"email_field" %}Email{% endfilter %}<span class="ak-required-flag">*</span>
        </label>
        <input
          type="email"
          name="email"
          id="id_email"
          class="ak-userfield-input ak-has-overlay"
          required
          autocomplete="email" />
        <ul class="compact" id="ak-errors"></ul>
      </div>
    {% endif %}

    <button type="submit">
      {% filter ak_text:"login_button" %}Sign in{% endfilter %}
    </button>
  </form>

  <aside class="text-wm-purple p-6 bg-wm-lightblue-box my-8 rounded">
    {% filter ak_text:"magicLink_desc" %}We'll send a magic link to your email to log you in.{% endfilter %}
  </aside>
</section>
{% endblock %}


{% block wemove_scripts %}
{{ block.super }}

<script justification="Login redirect">
  const url = new URL(window.location.href);
  const userLanguage = localStorage.getItem('userLanguage');
  const forcedLanguage = url.searchParams.has('lang');

  if (!forcedLanguage && forcedLanguage !== userLanguage) {
    url.searchParams.set('lang', userLanguage);
    window.location.href = url.toString();
  }
</script>
{% endblock %}
