<div class="standard-share nav-md:grid gap-2 grid-cols-[60%_minmax(40%,_1fr)]">
  <section>
    <h1>
      {% filter ak_text:"thanks_spreadTheWord_title" %}Can you spread the word?{% endfilter %}
    </h1>

    <div class="mb-4 featured-media hidden lg:block">
      {% include "./component-featured_media.html" %}
    </div>

    <div class="mb-4">
      {% include_tmpl form.thank_you_text %}
    </div>
  </section>

  {% if page.custom_fields.daisy_chain_action %}
    {% remember page.custom_fields.daisy_chain_action as pageName %}
  {% else %}
    {% remember page.name as pageName %}
  {% endif %}

  <aside data-wm-share-content>
    <div class="p-8 bg-wm-orangy-box text-wm-purple mb-4 share-image-and-description">
      <h3>{{ page.followup.share_title_value }}</h3>

      <div class="xl:flex gap-2">
      {% if page.custom_fields.featured_image or page.followup.share_image_value %}
        <div class="mb-4 xl:mb-0 xl:w-1/3">
          <img
            width="100%"
            height="100%"
            alt="{{ page.followup.share_title_value }}"
            src="{{ page.custom_fields.featured_image|default:page.followup.share_image_value }}" />
        </div>
      {% endif %}

        <div class="xl:w-2/3">{{ page.followup.share_description_value }}</div>
      </div>
    </div>

    <div class="mx-auto md:max-w-[500px]">
      {% include "./component-share_button_whatsapp.html" %}
      {% include "./component-share_button_facebook.html" %}
      {% include "./component-share_button_bluesky.html" %}
      {% include "./component-share_button_instagram.html" %}
      {% include "./component-share_button_taf.html" %}
      {% include "./component-share_button_copy_url.html" %}
    </div>
  </aside>
</div>

<div class="my-8 text-center">
  <a
    data-wm-skip-button
    href="{% if args.next_step %}/act/{{ args.next_step }}?{% else %}/thanks/{{ page.name }}?done=1&{% endif %}akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.embed %}&embed={{ args.embed }}{% endif %}{% if args.css %}&css={{ args.css }}{% endif %}"
    class="p-4 border-2 inline-block font-bold !text-wm-yellow text-xl font-gilroy hover:!no-underline hover:border-wm-yellow hover:shadow transition-all">
    {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
  </a>
</div>

{% include "./component-related_campaigns.html" %}
