<div class="standard-share nav-md:grid gap-2 grid-cols-1">
  <section>
    <h1 class="text-wm-purple text-2xl md:text-3xl">
      {% filter ak_text:"thankYouForSigningNowShare_desc" %}Thank you for signing! Take the next step and share:{% endfilter %}
    </h1>
  </section>

  {% if page.custom_fields.daisy_chain_action %}
    {% remember page.custom_fields.daisy_chain_action as pageName %}
  {% else %}
    {% remember page.name as pageName %}
  {% endif %}

  <aside data-wm-share-content>
    <div class="mx-auto md:max-w-[500px]">
      {% include "./component-share_button_whatsapp.html" %}
      {% include "./component-share_button_facebook.html" %}
      {% include "./component-share_button_bluesky.html" %}
      {% include "./component-share_button_instagram.html" %}
      {% include "./component-share_button_taf.html" %}
      {% include "./component-share_button_copy_url.html" %}
    </div>
  </aside>
</div>

<div class="my-8 text-center">
  <a
    data-wm-skip-button
    href="{% if args.next_step %}/act/{{ args.next_step }}?{% else %}/thanks/{{ page.name }}?done=1&{% endif %}akid={{ akid }}{% if action %}&action_id={{ action.id }}{% endif %}{% if args.embed %}&embed={{ args.embed }}{% endif %}{% if args.css %}&css={{ args.css }}{% endif %}"
    class="p-4 border-2 inline-block font-bold !text-wm-yellow text-xl font-gilroy hover:!no-underline hover:border-wm-yellow hover:shadow transition-all">
    {% filter ak_text:"skipStep_button" %}Skip this step{% endfilter %}
  </a>
</div>

{% include "./component-related_campaigns.html" %}
