{% extends "./wrapper.html" %}

{% block content %}

<form
  class="ak-form"
  name="act"
  method="POST"
  action="/act/"
  accept-charset="utf-8"
  data-wm-floating-labels-form
  data-wm-pixel-event-type="Lead"
  data-wm-pixel-track-type="track"
  data-wm-pixel-content-id="{{ page.id }}"
  data-wm-pixel-content-name="{{ page.title }}"
  data-wm-pixel-trigger-event="submit">

	<input type="hidden" name="page" value="{{ page.name }}">

    {% if not isEmbbeded %}
    <div class="advice-advice">
			<div class="action-advice-col">
				{% include "./language_picker.html" %}
				<div class="advice-container">
					<h1>{{ page.title }}</h1>

					{% store as featured_video %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_video" as field_name %}{% endstore %}
          {% store as featured_image %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_image" as field_name %}{% endstore %}
					{% if featured_video %}
            {% include "./featured-video.html" with featured_video=featured_video %}
          {% elif featured_image %}
            {% include "./featured-image.html" with featured_image=featured_image %}
          {% endif %}

					{% if form.statement_leadin %}
					<div id="letter_to">
						{% include_tmpl form.statement_leadin %}
					</div>
					{% endif %}

          {% if page.custom_fields.youmove_initiator_name %}
					<div class="initiator">
						<p data-wm-initiator-name="{{ page.custom_fields.youmove_initiator_name }}">
							{% filter ak_text:"statement_initiator" %}This petition is run by [% inititator_name %]{% endfilter %}
						</p>
					</div>
					{% endif %}

					<div id="sign-advice">
						<div class="well">
							<h2>{% filter ak_text:"petition_title" %}Petition{% endfilter %}</h2>

							<div class="ak-margin-bottom-1 ak-text-expander-disabled">
								{% include_tmpl form.statement_text %}
							</div>
							<a href="#" class="ak-read-more ak-mobile" data-lines="10">{% filter ak_text:"readMore_button" %}Read more{% endfilter %}</a>
						</div>

						<div id="ak-petition-story">
							{% if form.about_text %}
							<h2>{% filter ak_text:"whyIsThisImportant_title" %}Why is this important?{% endfilter %}</h2>
							<div class="ak-text-expander-disabled">{% include_tmpl form.about_text %}</div>
							<a href="#" class="ak-read-more ak-mobile" data-lines="10">{% filter ak_text:"readMore_button" %}Read more{% endfilter %}</a>
							{% endif %}

							{% store as references %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "references" as field_name %}{% endstore %}
							{% if references %}
							<div class="references">
								<h4>{% filter ak_text:"references" %}References:{% endfilter %}</h4>
								<div class="unescape-html">{{ references }}</div>
							</div>
							{% endif %}
						</div>

						{% store as partnership_icons %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "partnership_icons" as field_name %}{% endstore %}
						{% if partnership_icons %}
						<div class="partners">
							<h2>{% filter ak_text:"in_partnership_with" %}In partnership with:{% endfilter %}</h2>
							<div class="partnership-icons">
								{{ partnership_icons }}
							</div>
						</div>
						{% endif %}

            {% store as supporters_icons %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "supporters_icons" as field_name %}{% endstore %}
						{% if supporters_icons %}
						<div class="supporters">
							<h2>{% filter ak_text:"supported_by" %}Supported by:{% endfilter %}</h2>
							<div class="supporters-icons">
								{{ supporters_icons }}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
    {% endif %}

		<div
      class="action-form-container-col ak-grid-col ak-grid-col-4-of-12{% if isEmbbeded != "true" %} is-floating{% endif %}"
      id="action-form-container-col"
      data-wm-form-container>
      <div data-wm-floating-meter class="floating-progress-meter">
        {% include "./progress_meter.html" %}

        <a href="#action-form-container-col" class="btn btn-primary fake-submit-button">
          {% if page.custom_fields.sign_petition_button %}
            {{ page.custom_fields.sign_petition_button }}
          {% else %}
            {% filter ak_text:"button_sign_petition" %}
              Sign the Petition
            {% endfilter %}
          {% endif %}
        </a>
      </div>

			<div class="action-form">
				<div id="action-form-container-id" class="action-form-container">
					<div class="ak-field-box ak-field-box-borderless">
						<div id="petition-form" class="ak-styled-fields ak-labels-overlaid ak-errs-below">
							{% include "./user_form_wrapper.html" %}

							<div class="ak-field form-field hide-if-previously-signed">
								<label for="id_comment">{% filter ak_text:"form_field_comments" %}Your comments:{% endfilter %}</label>
								<textarea id="id_comment" name="action_comment"></textarea>
							</div>

              <div data-wm-consent-inline-new-container hidden></div>
						</div>

						<div class="form-field js-nav-buttons hide-if-previously-signed">
							<button type="submit" class="btn btn-primary">
                {% if page.custom_fields.sign_petition_button %}
                  {{ page.custom_fields.sign_petition_button }}
                {% else %}
                  {% filter ak_text:"button_sign_petition" %}
                    Sign the Petition
                  {% endfilter %}
                {% endif %}
              </button>
						</div>

					</div>
					<div class="privacy-statement">
            {% store as consent_text %}{% report "signup_text_for_list_language" with 1 as refresh page.list_id as list_id page.lang_id|default:100 as lang_id %}{% endstore %}
            {{ consent_text }}
					</div>
				</div>
			</div>

			<aside class="recent-comments" style="display: none">
				<h4>Recent comments</h4>
				<div class="recent-comment">
					<div class="recent-comment-by" style="font-style: italic;"></div>
					<div class="recent-comment-text"></div>
				</div>
			</aside>
		</div>
</form>

{% if not isEmbbeded %}
<script>
	var recent_comments = {% report "comments_recent_actions" with 1 as refresh page.id as page_id %};
	recent_comments.shift();

	window.currentCommentIndex = 0;
	window.recentCommentShown = false;
	window.comment_elt = $('.recent-comments .recent-comment');
	$(function () {
		if (comment_elt.length > 0) {
			if (recent_comments.length && ! recentCommentShown) {
				recentCommentShown = true;
				comment_elt.parent().fadeIn('slow');
				cycleRecentComment();
			}
		}
	});

	function cycleRecentComment () {
		comment_elt.fadeOut('slow', function () {
			var comment = recent_comments[currentCommentIndex ++ % recent_comments.length];
			comment_elt.find('.recent-comment-by').text(comment[0]);
			comment_elt.find('.recent-comment-text').text(comment[1]);
			comment_elt.removeClass('hidden');
			comment_elt.fadeIn('slow');
			var duration = Math.ceil(comment[1].split(' ').length * 0.2);

			if (duration < 3) {
        duration = 3;
      }

      setTimeout(cycleRecentComment, duration * 1000);
		});
	}
</script>

<div class="js-recent-action no-mobile" style="display: none">
  👍 <span class="js-text"></span>
</div>

<script>
	var recent_signers = {% report "names_recent_actions" with 1 as refresh page.id as page_id %};
	recent_signers.shift();
	// recent_signers = recent_signers.map( n => [ n[0], n[1] + " {% filter ak_text:"userSignedPetition_info" %}has just signed the petition{% endfilter %}" ] );
  recent_signers = recent_signers.map( n => [ n[0], n[1] + " has just signed the petition" ] );

	var recent_sharers = {% report "names_recent_shares" with 1 as refresh page.id as page_id %};
	recent_sharers.shift();
	recent_sharers = recent_sharers.map( n => [ n[0], n[1] + " {% filter ak_text:"userSharedThis_info" %}just shared this on{% endfilter %} " + n[2] ] );

	var recent_actions = recent_signers.concat( recent_sharers );
	recent_actions = recent_actions.sort( function compare(a,b) {
		if ( a[0] < b[0] ) { return 1 }
		if ( a[0] > b[0] ) { return -1 }
		return 0
	} );

	window.recentActions = recent_actions.map( n => n[1] );
	window.currentActionIndex = 0;
	window.recentActionShown = false;
	window.recent_action_elt = $('.js-recent-action');

	$( function () {
		if (recent_action_elt.length > 0) {
			if (window.innerWidth > 1180) {
				if (recentActions.length && ! recentActionShown) {
					recentActionShown = true;
					cycleRecentAction();
				}
			}
		}
	} );

	function cycleRecentAction() {
		recent_action_elt.fadeOut('slow', function() {
			var signer = recentActions[currentActionIndex ++ % recentActions.length];
			recent_action_elt.find('.js-text').text(signer);
			recent_action_elt.removeClass('hidden');
			recent_action_elt.fadeIn('slow');
			setTimeout(cycleRecentAction, 5000);
		});
	}
</script>
{% endif %}
{% endblock %}
