{# TODO: When AB test is done this IF should be removed. #}
{% if page.custom_fields.inline_consent == "1" %}
  {% if user and user.subscription_status == 'subscribed' %}
    <!-- USER SUBCRIBED: no need to render the inline consents -->
    <input type="hidden" name="opt_in" value="1">
  {% elif user and user.country == 'Germany' or user.country == 'Austria' or user.country|lower == 'de' or user.country|lower == 'at' %}
    <!-- KNOWN GERMANIC USER: no need to render the inline consents -->
    <input type="hidden" name="opt_in" value="1">
  {% else %}
    <div class="consent-inline form-field field-type--radio required ak-err-below" data-wm-consent-inline hidden>
      <legend class="static mx-0 my-1 p-0 text-white text-sm font-bold border-0">
        {% filter ak_text:"consentInline_legend" %}Registration agreement{% endfilter %}
        <span class="ak-required-flag" aria-hidden="true">*</span>
      </legend>

      <div class="consent-inline-group">
        <label>
          <input
            name="action_consent_action-radio"
            data-wm-consent-inline-radio
            type="radio"
            value="y" />
          <span>
            {% filter ak_text:"consentInlineYes_field" %}
              Yes! Let me know if this campaign is successful and how I can participate in other relevant campaigns.
              If you leave us your email, we may contact you to tell you more about how you can help us, including by supporting our work with a donation.
            {% endfilter %}
          </span>
        </label>

        <label>
          <input
            name="action_consent_action-radio"
            data-wm-consent-inline-radio
            type="radio"
            value="n" />
          <span>
            {% filter ak_text:"consentInlineNo_field" %}
              No. I don't want to receive information about the progress of this campaign or other campaigns.
            {% endfilter %}
          </span>
        </label>

        <input type="hidden" name="field_action_consent_action-radio" value="{% filter ak_text:"consentInline_legend" %}Registration agreement{% endfilter %}" />
        <input type="hidden" name="required" value="action_consent_action-radio" data-wm-consent-inline-required-hidden/>
        <input type="hidden" name="opt_in" value="1" data-wm-consent-hidden-optin />
        <input type="hidden" name="action_consent_action" value="n" data-wm-consent-hidden-consent-action />

        {% store as consent_version %}{% report "consent_version_for_list_language" with 1 as refresh page.list_id as list_id page.lang_id|default:100 as lang_id %}{% endstore %}
        <input type="hidden" name="action_consent_version" value="{{ consent_version }}">
      </div>

      <div class="opt-out-disclaimer">
        {% filter ak_text:"consentInlineCancelSubscription_info" %}
          You can cancel your membership at any time. Just go to our cancellation page. By entering your details you confirm that you are at least 16 years old.
        {% endfilter %}
      </div>
    </div>
  {% endif %}
{% else %}
  <input type="hidden" name="opt_in" value="1">
{% endif %}
