{% extends "./wrapper.html" %}
{% load humanize %}

{% comment %} 

Update your recurring donation
=================================

There are a couple ways to update a recurring donation:

 - Change the amount (upscaling). DONE.
 - Change the payment method.     TODO.

{% endcomment %}

{% block css_additions %}
<link rel="stylesheet" href="https://donate-ui.wemove.eu/donate-main.css" />

{% endblock %}

{% block script_additions %}
{% endblock %}

{% block content %}

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        <h2>{{ page.title }}</h2>
    </div>
</div>

<div class="ak-grid-row ak-grid-row-inverted">
    {% if page.custom_fields.featured_image %}
        <div class="ak-grid-col ak-grid-col-3-of-12">
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}" alt="main picture" />
        </div>
    {% endif %}
    <div class="ak-grid-col {% if page.custom_fields.featured_image %} ak-grid-col-9-of-12 {% else %}ak-grid-col-12-of-12 {% endif %}">

        <div>
            <p>Hello {{ logged_in_user.name }} ! If you're not {{ logged_in_user.name }}, please <a href="/logout/">click here.</a></p>
        </div>

        <div style="display:none">{% comment %}actionkit.js wants this, but we don't{% endcomment %}
            <p id="unknown_user"></p>
            <div id="known_user"><span id="known_user_name"></span></div>
        </div>


        {% store as profile_details %}
        {% report "recurring_profile" with args.profile as recurring_id logged_in_user.id as user_id %}
        {% endstore %}

        {% with profile_details|load_json as profile %}


        {% if action %}

            <h3>Update saved!</h3>
            <div>
                {% include_tmpl form.thank_you_text %}
            </div>

        {% else %}

        <div class="recurring-update-about-text">{% include_tmpl form.update_card_text %}</div>


        {% endif %}

        {% endwith %}


    </div>

</div>
<script type="module" src="https://donate-ui.wemove.eu/donate-main.js"></script>
{% endblock %}
