{% extends "./wrapper.html" %}

{% block title %} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}

{% block content %}
<main data-wm-error-page="404" style="text-align: center; margin: 2rem 0 4rem 0">
  <h1 data-wm-error-title></h1>
  <p data-wm-error-content></p>
  <a data-wm-error-link href="https://wemove.eu/"></a>
</div>
<script>
  const translations = {
    en: {
      title: '{% filter ak_text:"404_en_title" %}Page not found{% endfilter %}',
      content: '{% filter ak_text:"404_en_content" %}Sorry 😔, we couldn’t find what you were looking for.{% endfilter %}',
      link: '{% filter ak_text:"404_en_title" %}Go to the homepage{% endfilter %}',
    },
    it: {
      title: '{% filter ak_text:"404_it_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_it_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_it_title" %}Torna alla homepage{% endfilter %}',
    },
    es: {
      title: '{% filter ak_text:"404_es_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_es_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_es_title" %}Torna alla homepage{% endfilter %}',
    },
    nl: {
      title: '{% filter ak_text:"404_nl_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_nl_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_nl_title" %}Torna alla homepage{% endfilter %}',
    },
    de: {
      title: '{% filter ak_text:"404_de_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_de_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_de_title" %}Torna alla homepage{% endfilter %}',
    },
    pl: {
      title: '{% filter ak_text:"404_pl_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_pl_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_pl_title" %}Torna alla homepage{% endfilter %}',
    },
    fr: {
      title: '{% filter ak_text:"404_fr_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_fr_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      link: '{% filter ak_text:"404_fr_title" %}Torna alla homepage{% endfilter %}',
    },
  };
</script>
{% endblock %}
