{% extends "./wrapper.html" %}

{% block title %} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}

{% block content %}
<main data-wm-error-page style="text-align: center; margin: 2rem 0 4rem 0">
  <h1 data-wm-error-title></h1>
  <p data-wm-error-content></p>
  <a data-wm-error-link href="https://wemove.eu/"></a>
</div>
<script>
  const translations = {
    en: {
      title: '{% filter ak_text:"404_en_title" %}Page not found{% endfilter %}',
      content: '{% filter ak_text:"404_en_content" %}Sorry 😔, we couldn’t find what you were looking for.{% endfilter %}',
      homeLink: '{% filter ak_text:"404_en_title" %}Go to the homepage{% endfilter %}',
    },
    it: {
      title: '{% filter ak_text:"404_en_title" %}Pagina non trovata{% endfilter %}',
      content: `{% filter ak_text:"404_en_content" %}Ci dispiace 😔, non abbiamo trovato la pagina richiesta.{% endfilter %}`,
      homeLink: '{% filter ak_text:"404_en_title" %}Torna alla homepage{% endfilter %}',
    },
  };

  const translateErrorPage = () => {
    const errorWrapper = document.querySelector('[data-wm-error-page]');

    if (!errorWrapper) {
      return;
    }

    const language = 'en';

    const title = errorWrapper.querySelector('[data-wm-error-title]');
    const content = errorWrapper.querySelector('[data-wm-error-content]');
    const link = errorWrapper.querySelector('[data-wm-error-link]');

    document.title = '404' + translations[language].title + document.title;
    title.innerHTML = translations[language].title;
    content.innerHTML = translations[language].content;
    link.innerHTML = translations[language].link;
    link.href = `https://wemove.eu/${language}`;
  };

  translateErrorPage();
</script>
{% endblock %}
