{% extends "./wrapper.html" %}

{% block title %} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}

{% block content %}
<main data-wm-error-page="500" style="text-align: center; margin: 2rem 0 4rem 0">
  <h1 data-wm-error-title></h1>
  <p data-wm-error-content></p>
  <a data-wm-error-link href="https://wemove.eu/"></a>
</div>
<script>
  const translations = {
    en: {
      title: `{% filter ak_text:"500_en_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_en_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_en_link" %}Go to the homepage{% endfilter %}`,
    },
    it: {
      title: `{% filter ak_text:"500_it_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_it_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_it_link" %}Go to the homepage{% endfilter %}`,
    },
    es: {
      title: `{% filter ak_text:"500_es_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_es_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_es_link" %}Go to the homepage{% endfilter %}`,
    },
    nl: {
      title: `{% filter ak_text:"500_nl_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_nl_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_nl_link" %}Go to the homepage{% endfilter %}`,
    },
    de: {
      title: `{% filter ak_text:"500_de_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_de_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_de_link" %}Go to the homepage{% endfilter %}`,
    },
    pl: {
      title: `{% filter ak_text:"500_pl_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_pl_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_pl_link" %}Go to the homepage{% endfilter %}`,
    },
    fr: {
      title: `{% filter ak_text:"500_fr_title" %}500 - Server error{% endfilter %}`,
      content: `{% filter ak_text:"500_fr_content" %}Sorry 😔, we're having trouble handling your request at the moment. Please give us a few minutes and try again.{% endfilter %}`,
      link: `{% filter ak_text:"500_fr_link" %}Go to the homepage{% endfilter %}`,
    },
  };
</script>
{% endblock %}
