{% extends "./wrapper.html" %}

{% block content %}
<h1>{{ page.title }}</h1>

<div class="survey-progress-bar--container">
  <div class="survey-progress-bar">
    <div class="survey-progress-bar--bg" data-wm-survey-progress-bar-bg></div>
    <div data-wm-survey-progress-bar-text>...</div>
  </div>
</div>

<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8" data-wm-survey-slide-container>
    <input type="hidden" name="page" value="{{ page.name }}">

    <div data-wm-survey-slide="active" class="intro">
      {% store as featured_video %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_video" as field_name %}{% endstore %}
      {% store as featured_image %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "featured_image" as field_name %}{% endstore %}
      {% if featured_video %}
        {% include "./featured-video.html" with featured_video=featured_video %}
      {% elif featured_image %}
        {% include "./featured-image.html" with featured_image=featured_image %}
      {% endif %}

      {% include_tmpl form.introduction_text %}

      <div class="start-btn">
        <button type="button" class="btn btn-primary" data-wm-survey-button="start">
          {% filter ak_text:"startSurvey_button" %}
            Start
          {% endfilter %}
        </button>
      </div>
    </div>

    <div class="hiddens" data-wm-survey-slide data-wm-survey-slide-temp-container>
      {% for question in form.surveyquestion_set.all %}
        <div class="question ak-errs-below" data-wm-survey-question>
          <label class="ak-survey-question-label">
            {{ question.question_label|safe }}
            {% if question.is_required %}<span class="ak-required-flag" aria-hidden="true">*</span>{% endif %}
          </label>

          {{ question.input_html|safe }}
        </div>
      {% endfor %}
    </div>

    <section class="personal-data ak-errs-below" data-wm-survey-slide>
      <h2>{% filter ak_text:"personalData_title" %}Your information{% endfilter %}</h2>
      {% include "./user_form_wrapper.html" %}
    </section>

    <div class="form-field js-nav-buttons survey-buttons-wrapper">
      <button type="button" class="btn btn-primary hidden" data-wm-survey-button="previous">
        {% filter ak_text:"previousSurvey_button" %}
          Previous
        {% endfilter %}
      </button>

      <button type="button" class="btn btn-primary hidden" data-wm-survey-button="next">
        {% filter ak_text:"nextSurvey_button" %}
          Next
        {% endfilter %}
      </button>

      <button type="submit" class="btn btn-primary hidden" data-wm-survey-button="submit">
        {% filter ak_text:"submitSurvey_button" %}
          Finish
        {% endfilter %}
      </button>
    </div>
</form>
{% endblock %}
