{% extends "./wrapper.html" %}

{% block pre_action_share %}{% endblock %}

{% block content %}

[[ share {{ args.share }} ]] | [[ done {{ args.done }} ]]

{% if ( not args.share ) and ( not arg.done ) %}

{% store as next_step %}{% if page.custom_fields.next_step %}/act/{{ page.custom_fields.next_step }}?{% else %}/thanks/{{ page.name }}?share=1&{% endif %}action_id={{ action.id }}&akid={{ akid }}{% endstore %}

[[ Next Step: {{ next_step }} ]]

[[ Substatus: {{ user.subscription_status }} ]]

{% if user.subscription_status == 'subscribed' %}

	You already subscribed, so jump to the next step.

	<a href="{{ next_step }}">Please continue to the next step.</a>
	<script>
		window.location = '{{ next_step }}';
	</script>

{% else %}

	{% store as previous_consents %}{% report "previous_user_consent_for_list" with user.id as user_id page.list_id as list_id %}{% endstore %}
	[[ Previous consents: {{ previous_consents }} ]]

    {% if previous_consents > 0 %}

		You have already been asked to consent, so jump to the next step.

		<a href="{{ next_step }}">Please continue to the next step.</a>
		<script>
			window.location = '{{ next_step }}';
		</script>
	
	{% else %}
	
	[[ Lang ID: {{ user.lang_id }} ]]

		{% store as signup_page_name %}{% report "signup_page_for_list_language" with page.list_id as list_id user.lang_id as lang_id %}{% endstore %}
		[[ Signup Page: {{ signup_page_name }} ]]
	
		{% if not signup_page_name %}
	
			You should be asked to consent, but we don't have a consent page for that list in your language, so jump to the next step.
	
			<a href="{{ next_step }}">Please continue to the next step.</a>
			<script>
				window.location = '{{ next_step }}';
			</script>
		
		{% else %}

			{% store as consent_link %}/act/{{ signup_page_name }}?action_id={{ action.id }}&akid={{ akid }}&next_step={{ page.custom_fields.next_step }}{% endstore %}

			<a href="{{ consent_link }}">Please continue to the next step.</a>
			<script>
				window.location = '{{ consent_link }}';
			</script>

		{% endif %}

	{% endif %}

{% endif %}
	

{% else %}

<form name="taf" method="POST" action="/update_action/" accept-charset="utf-8" class="ak-thanks ak-styled-fields">
    <input type="hidden" name="page" value="{{ page.name }}">

{% if actionkit_user %}
    {% if recurring_update or recurring_cancel %}
        <div class="ak-grid-row">
            <div class="ak-grid-col ak-grid-col-12-of-12">
                <p>
                    {% filter ak_text:"logged_in_as" %}You are logged in as{% endfilter %} <a href="/me/">{{ actionkit_user.name|escape }}</a>.
                    <a href="/logout">{% filter ak_text:"logout" %}Click to log out.{% endfilter %}</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if args.done %}

<div class="raction " id="rthanks" style="">
  <p><b>
		{% if page.custom_fields.final_message %}
			{{ page.custom_fields.final_message }}
		{% else %}
			{% filter ak_text:"final_message" %}
				Thank you for standing for democracy with us. It is only together that we can truly be a force to be reckoned with.
			{% endfilter %}
		{% endif %}
	</b></p>
	
</div>

{% else %}

{% if page.SUPPRESS_SHARING %}
    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-12-of-12">
            <h2>
                <img src="/media/modern/stance-supportive.svg" width="34" class="ak-checkmark-icon" alt="&#10003;">
                {% filter ak_text:"noshare_thanks_banner" %}
                Thanks!
                {% endfilter %}
            </h2>
            <div>
                {% include_tmpl form.thank_you_text %}
            </div>
						
						<a href="{% if page.custom_fields.next_step %}/act/{{ page.custom_fields.next_step }}{% else %}/thanks/{{ page.name }}?done=1&amp;{% endif %}action_id={{ action.id }}&amp;akid={{ akid }}" class="skip btn btn-default"> {% filter ak_text:"skip_this_step" %}Skip this step{% endfilter %}</a>
						
						
        </div>
    </div>
{% else %}

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-6-of-12">
            <h1>
                {% if page.followup.send_taf %}
                    {% filter ak_text:"tell_your_friends_banner" %}
                    Can you spread the word?
                    {% endfilter %}
                {% elif not action.custom_fields.cwc_prefix and page.send_via_cwc and page.is_targeting_us_senate %}
                    Information Needed
                {% else %}
                    {% filter ak_text:"notaf_thanks_banner" %}
                    Can you spread the word?
                    {% endfilter %}
                {% endif %}
            </h1>
            <div>
            {% if not action.custom_fields.cwc_prefix and page.send_via_cwc and page.is_targeting_us_senate %}
              <p>To deliver your signature to the Senate <b>you must select a prefix</b> from the following list.  Your selection will only be used to deliver your signature.</p>
              <select name="action_cwc_prefix">
                <option>Mr.</option>
                <option>Mrs.</option>
                <option>Miss</option>
                <option>Ms.</option>
                <option>Dr.</option>
              </select>
              <button type="submit" class="ak-submit-button">Update</button>
            {% else %}
              {% include_tmpl form.thank_you_text %}							
            {% endif %}
            </div>
        </div>

        <div class="ak-grid-col ak-grid-col-6-of-12 ak-margin-top-2">
					
					<div class="facebook-share-preview-container">
					    <h3 class="facebook-share-preview--title">{{ page.followup.share_title_value }}</h3>
							{% if page.custom_fields.featured_image or page.followup.share_image_value %}
							<div class="facebook-share-preview-image">
								<img src="{{ page.custom_fields.featured_image|default:page.followup.share_image_value }}">
							</div>
							{% endif %}
					    <div class="facebook-share-preview-description">
					      {{ page.followup.share_description_value }}
					    </div>
					    <div style="clear: both;"></div>
					  </div>
					
						<div class="share-big facebook-share-container js-facebook-share-container  ">
							<a class="btn btn-primary popup facebook" href="/share/link?type=fb&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">
								<i class="fa fa-facebook-square"></i> <span class="share-text">Share on Facebook</span>
							</a>
						</div>

						<div class="share-big twitter-share-container js-twitter-share-container  ">
							<a class="btn btn-primary popup twitter" href="/share/link?type=tw&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">
								<i class="fa fa-twitter"></i> <span class="share-text">Share on Twitter</span>
							</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>

						<script>
							const url_params = new URLSearchParams(window.location.search);
							if ( url_params.get('share') == 'whatsapp' ) {
								const wa_message = "{{ page.followup.twitter_message|default:page.title }}";
								const request_url = "/share/link?type=ot&source=whatsapp&page_name={{page.name}}&action_id={{action.id}}&akid={{akid}}";
								$.get( request_url, "", function (response) {
									const message_link = wa_message + ' ' + response;
									var has_hover = window.matchMedia("(any-hover: hover)").matches;
									if ( has_hover ) {
										window.location = 'https://web.whatsapp.com/send?text=' + encodeURIComponent(message_link);
									} else {
										window.location = 'whatsapp://send?text=' + encodeURIComponent(message_link);
									}
								} );
							}
						</script>
						<div class="share-big whatsapp-share-container js-whatsapp-share-container">
							<a class="btn btn-primary popup whatsapp-web" href="/thanks/{{ page.name }}?share=whatsapp&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">
								<i class="fa fa-whatsapp"></i> <span class="share-text">Share on Whatsapp</span>
							</a>
						</div>

						{% if page.followup.send_taf %}
						<div class="share-big email-share-container js-email-share-container  ">
							<a class="btn btn-primary email" href="mailto:?subject={{ page.followup.taf_subject|urlencode }}&amp;body={% filter referring_akid:akid|tag_links:"source=mailto"|urlencode %}{% include_tmpl page.followup.taf_body unescaped %}{% endfilter %}" target="_blank">								
								<i class="fa fa-envelope-o"></i> <span class="share-text">{% filter ak_text:"taf_mailto_ask" %}Share by e-mail{% endfilter %}</span>
							</a>
						</div>
						{% endif %}

        </div>
				
				<div class="col-md-12" style="text-align: center;">
					<br>
					<a href="{% if args.next_step %}/act/{{ args.next_step }}?{% else %}/thanks/{{ page.name }}?done=1&amp;{% endif %}action_id={{ action.id }}&amp;akid={{ akid }}" class="skip btn btn-default">Skip this step</a>
				</div>
			</div>

{% endif %}

</form>

{% endif %}

{% endif %}

{% endblock %}

{% block script_additions %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.ak-emailalt').on('click', function() {
            $(this).parent('p').toggleClass('active');
            $('#ak-taf-form').slideToggle(function() {
                $('#taf_form').toggleClass('ak-closed');
            });
            $('#copy-and-paste').slideToggle();
            return false;
        });
    });
</script>
{% endblock %}

{% block below_form %}

<script type="text/javascript">
    actionkit.forms.contextRoot = '/context/';
    actionkit.forms.initTafForm('taf');
    actionkit.sharing.initShareTools();
</script>

{% endblock %}
