{% extends "./wrapper.html" %}

{% block content %}

<h1 class="page-header">{{ page.title }}</h1>

<div class="region region-content">
	<section id="block-system-main" class="block block-system clearfix">

		<div id="crm-container" class="crm-container crm-public" lang="en" xml:lang="en">

			<div class="clear"></div>

			<div id="crm-main-content-wrapper">

				<form id="unsub-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
					<input type="hidden" name="page" value="{{ page.name }}">

					{% if page.custom_fields.featured_image %}
					<img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
					{% endif %}
					{% if form.introduction_text|is_nonblank %}
					{% include_tmpl form.introduction_text %}
					{% endif %}

					<div class="crm-block crm-form-block crm-miscellaneous-form-block">

						<div class="ak-styled-fields ak-labels-overlaid ak-errs-below">

							<ul class="compact" id="ak-errors"></ul>

							<div id="known_user">

								<p>You are requesting to opt out from all mailing lists for the user named below.</p>
 
								<h3> <span id="known_user_name"></span> </h3>

								<p>If this is not you, there is no need to do anything. You have not been added to any mailing lists.</p>

								<p>If this is your name and you wish to opt out please click the Opt Out button to confirm.</p>

							</div>

							<div id="unknown_user">
								<div>
									<div>
										<label for="id_email">Email address</label>
										<input id="id_email" type="text" name="email" size=40>
									</div>
								</div>
							</div>

							{% if form.survey_question_text|is_nonblank %}
							<div class="opt-out-reason">
								<label for="id_action_survey">
									{% include_tmpl form.survey_question_text %}
								</label>
								<textarea id="id_action_survey" name="action_survey"></textarea>
							</div>
							{% endif %}

							<div class="crm-submit-buttons">

								<button class="crm-form-submit default validate crm-button crm-button-type-next crm-button_qf_Optout_next" value="1" type="submit" id="_qf_Optout_next-bottom">Opt Out</button>

								<a class="button" href="//www.wemove.eu">Cancel</a>
							</div>

						</div>

					</div>


				</form>
			</div>


		</div>
	</section>
</div>

{% endblock %}
