{% extends "./wrapper.html" %}

{% block title %}
Your account | WeMove Europe
{% endblock %}

{% block content %}

  <h1 class="mb-2">{{ page.title }}</h1>

  <menu data-wm-tab class="mb-8 border-b-2 relative font-gilroy text-lg">
    <div class="flex justify-start gap-2 -bottom-0.5 relative">
      <button
        type="button"
        data-wm-tab-button="account"
        class="text-gray-600 border-b-2 [&.active]:border-wm-pink [&.active]:text-wm-purple p-2 active">
          Profile
      </button>
      <button
        type="button"
        data-wm-tab-button="donations"
        class="text-gray-600 border-b-2 [&.active]:border-wm-pink [&.active]:text-wm-purple p-2">
          Donations
      </button>
    </div>
  </menu>

  <section data-wm-tab-section="account" class="md:grid md:grid-cols-2 gap-4 xl:w-3/5 xl:mx-auto">
    <div class="p-6 rounded-xl border-[1px] border-wm-pink text-wm-purple mb-8">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center gap-1">
          <span aria-hidden="true" class="w-5 h-5 mr-1 inline-block not-sr-only" title="Print">
            {% include "./icon-user.html" %}
          </span>
          <span class="font-bold text-wm-purple font-gilroy text-lg">Personal data</span>
        </div>

        <button
          type="button"
          data-wm-open-dialog-cta="data-wm-edit-profile-form"
          class="bg-wm-pink rounded block py-0 px-3 !text-white hover:brightness-110 transition-all">
          edit
        </button>

        <div hidden data-wm-edit-profile-form data-wm-dialog-fetch="/me/update/"></div>
      </div>

      <ul>
        <li class="font-bold text-wm-purple mb-2">{{ actionkit_user.first_name }} {{ actionkit_user.last_name }}</li>
        <li class="font-bold text-wm-purple mb-2">{{ actionkit_user.email }}</li>
        <li class="mb-2">{{ actionkit_user.postal }} {{ actionkit_user.country }}</li>
        <li><a href="/logout">log out</a></li>
      </ul>
    </div>

    <div class="p-6 rounded-xl border-[1px] border-wm-pink text-wm-purple mb-8">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center gap-1">
          <span aria-hidden="true" class="w-5 h-5 mr-1 inline-block not-sr-only" title="Print">
            {% include "./icon-subscription.html" %}
          </span>
          <span class="font-bold text-wm-purple font-gilroy text-lg">Subscription history</span>
        </div>
      </div>

      <ul class="text-wm-purple">
        <li class="mb-2">
          <strong>Status:</strong>
          {% if actionkit_user.is_subscribed %}
            subscribed
          {% else %}
            unsubscribed
          {% endif %}
        </li>
        {% if actionkit_user.is_subscribed %}
          <li>
            <a href="/cms/unsubscribe/unsubscribe_{{ link_iso }}/?akid={{ actionkit_user.token }}">unsubscribe</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </section>

  {% for donation in recurring_donations %}
    {% if donation.is_active %}
      {% remember "true" as hasActiveRecurringDonations %}
    {% endif %}
  {% endfor %}

  <section hidden data-wm-tab-section="donations" class="flex justify-center gap-6 flex-wrap lg:w-3/5 lg:mx-auto">
    <h2 class="text-wm-purple border-b-2 mb-4 border-b-wm-pink w-full">Active recurring donations</h2>

    {% if hasActiveRecurringDonations %}
      {% for donation in recurring_donations reversed %}
        {% if donation.is_active %}
          <div class="rounded-xl p-4 border-[1px] border-wm-pink text-wm-purple w-full relative">
            <aside class="flex justify-between">
              <div class="flex items-center gap-1">
                <span aria-hidden="true" class="{% if donation.is_active %}bg-green-500{% else %}bg-gray-500{% endif %} rounded-full border-black inline-block h-3 w-3"></span>
                <span>{% if donation.is_active %}active{% else %}inactive{% endif %}</span>
              </div>

              {% if donation.is_active %}
                <button
                type="button"
                class="absolute right-4 top-4 z-10 bg-gray-700 text-sm rounded block py-1 px-2 text-white hover:bg-wm-purple transition-all"
                data-wm-cancel-recurring-donation="{{ donation.recurring_id }}">
                  cancel subscription
                </button>
              {% endif %}
            </aside>

            <main>
              <div class="flex items-center justify-center text-4xl my-4 lowercase">
                {{ donation.amt }}
                <span class="mx-2"> / </span>
                {{ donation.get_period_display }}
              </div>

              <div class="text-center">
                <div class="mb-2">
                  <h5 class="mb-0">Payment method</h5>
                  <span>
                    {% if donation.account|lower == "wm-card" or donation.account|lower == "legacy-card" %}
                      credit card
                    {% elif donation.account|lower == "wm-stripe" or donation.account|lower == "legacy-stripe" %}
                      stripe
                    {% elif donation.account|lower == "wm-sepa" or donation.account|lower == "legacy-sepa" or donation.account|lower == "legacy-banktransfer" %}
                      sepa
                    {% elif donation.account|lower == "wm-paypal" or donation.account|lower == "legacy-paypal" %}
                      paypal
                    {% endif %}
                  </span>
                </div>

                <div>
                  <h5 class="mb-0">First payment</h5>
                  <span>{{ donation.first_payment_date|date }}</span>
                </div>

                {% if donation.is_active %}
                  <div>
                    <h5 class="mb-0">Next payment</h5>
                    <span>{{ donation.next_payment_date|date }}</span>
                  </div>
                {% else %}
                  <div>
                    <h5 class="mb-0">Last payment</h5>
                    <span>{{ donation.last_payment_date|date }}</span>
                  </div>
                {% endif %}
              </div>
            </main>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="rounded-xl p-4 border-[1px] border-wm-pink text-wm-purple w-full">
        <main class="text-center text-xl">
          <p>You don't have recurring donations</p>
          <a
            class="hover:!no-underline w-auto m-auto uppercase py-2 px-6 text-center text-base font-bold font-gilroy bg-wm-pink min-h-8 inline-block !text-white rounded transition-all hover:brightness-110"
            href="https://action.wemove.eu/donate/chip-in-wemove?selected_frequency=recurring">
            Begin a recurring donation
          </a>
        </main>
      </div>
    {% endif %}

    <div class="bg-wm-purple rounded my-4 p-8 w-full">
      <a
        class="hover:!no-underline max-w-96 m-auto uppercase p-4 text-center font-bold text-lg font-gilroy bg-wm-pink min-h-10 w-full !text-white block rounded transition-all hover:brightness-110"
        href="https://action.wemove.eu/donate/chip-in-wemove">
        Make a donation now!
      </a>
    </div>

    <div class="w-full">
      <h2 class="text-wm-purple border-b-2 mb-4 border-b-wm-pink">Past transactions</h2>

      {% if donations %}
        <div data-wm-transactions-wrapper="{{ donations|length }}" {% if donations|length > 5 %}class="h-[280px] overflow-hidden transition-all duration-[.5s] relative"{% endif %}>
          {% if donations|length > 5 %}
            <div data-wm-transactions-overlay class="overlay absolute z-10 bottom-0 w-full h-[70px] bg-gradient-to-b from-transparent to-60% to-white"></div>
          {% endif %}

          {% for donation in donations reversed %}
            <div class="relative mb-2">
              <div class="py-2 px-4 rounded-xl border-[1px] border-wm-pink">
                <div class="text-xl font-bold text-wm-purple flex items-center gap-4">
                  {{ donation.amt }}

                  <span class="text-sm font-bold text-wm-purple">
                    {% if donation.recurring %}
                      recurring
                      {% remember "recurring" as currentPaymentFrequency %}
                    {% else %}
                      one off
                      {% remember "one-off" as currentPaymentFrequency %}
                    {% endif %}

                    <span class="text-wm-pink">/</span>

                    {% if donation.account|lower == "wm-card" or donation.account|lower == "legacy-card" %}
                      credit card
                      {% remember "credit card" as currentPaymentMethod %}
                    {% elif donation.account|lower == "wm-stripe" or donation.account|lower == "legacy-stripe" %}
                      stripe
                      {% remember "stripe" as currentPaymentMethod %}
                    {% elif donation.account|lower == "wm-sepa" or donation.account|lower == "legacy-sepa" or donation.account|lower == "legacy-banktransfer" %}
                      sepa
                      {% remember "sepa" as currentPaymentMethod %}
                    {% elif donation.account|lower == "wm-paypal" or donation.account|lower == "legacy-paypal" %}
                      paypal
                      {% remember "paypal" as currentPaymentMethod %}
                    {% endif %}
                  </span>
                </div>

                <div class="text-xs text-wm-pink">{{ donation.created_at|date:"m/d/Y" }}</div>
              </div>

              <button
                type="button"
                class="absolute right-4 top-4 z-10"
                data-wm-print-transaction="https://wemove.eu/print-receipt?language={{ link_iso }}&user_firstName={{ actionkit_user.first_name }}&user_lastName={{ actionkit_user.last_name }}&user_email={{ actionkit_user.email }}&payment_method={{ currentPaymentMethod }}&payment_date={{ donation.created_at|date:"m/d/Y" }}&payment_amount={{ donation.amt }}&payment_frequency={{ currentPaymentFrequency }}">
                <span aria-hidden="true" class="w-6 h-6 inline-block not-sr-only" title="Print">
                  {% include "./icon-print.html" %}
                </span>
                <span class="text-gray-500 sr-only">print receipt</span>
              </button>
            </div>
          {% endfor %}
        </div>
        {% if donations|length > 5 %}
          <button
            type="button"
            class="max-w-96 hover:underline m-auto font-gilroy text-center
            active:outline-none text-wm-purple transition-all overflow-hidden block"
            data-wm-expand-transactions-wrapper>
            View older transactions &darr;
          </button>
        {% endif %}
      {% else %}
        <div class="text-gray-600 mb-4">
          No transactions found.
        </div>
      {% endif %}
    </div>

    <div class="bg-gray-200 p-4 rounded-lg w-full my-8">
      <h2 class="text-wm-purple border-b-2 border-b-gray-400">How we are funded</h2>
      <p>If you want to know more about how we are funded, how we use your donation, or other commonly asked question, you can visit this page.</p>
      <p>You can also contact us anytime if at: <a class="hover:underline transition-all" href="mailto:donation@wemove.eu">donation@wemove.eu</a></p>
    </div>
  </section>

  <script>
    if (!window.wemove) {
      window.wemove = {
        site: {},
        page: {
          name: "{{page.name}}",
        },
      };
    }

    window.wemove.page.language = {
      name: "{{ page.lang_or_en }}",
      iso: "{{page.lang.iso_code|default:'en'}}",
    };
    </script>

  {% if request.GET.dev == "1" %}
    <script src="//127.0.0.1:8081/js/wemove-main.bundle.min.js"></script>
  {% else %}
    <script src="//static.wemove.eu/action-kit/js/wemove-main.bundle.min.js?v=2.10.0"></script>
  {% endif %}
{% endblock %}
