<ul class="compact" id="ak-errors"></ul>

{% if user %}
	{% store as previous_actions %}{% report "previous_user_actions_for_page" with user.id as user_id page.id as page_id %}{% endstore %}
{% endif %}

<div id="known_user" class="known-member">
  <div class="known-member-inner">
    <p>
      {% filter ak_text:"knownUser_signingAs" %}Sign this as {% endfilter %}
      <strong id="known_user_name" data-user-full-name>lucas ramos</strong>
      <br/>
      {% filter ak_text:"knownUser_notYou_button" %}Not you?{% endfilter %}
      <a href="#" onclick="return actionkit.forms.logOut()">
        {% filter ak_text:"clickHere_button" %}Not you?{% endfilter %}
      </a>
    </p>
  </div>

	{% if previous_actions and previous_actions != "0" %}
	  <div class="already-signed" style="display: block">
	    <p>{% filter ak_text:"alreadySigned_link" %}It seems you have already signed. However, you can do more. Click below for next step.{% endfilter %}</p>

	    <a
	      class="btn btn-danger"
	      href="/thanks/{{ page.name }}?akid={{ akid }}">
	      {% filter ak_text:"continue_button" %}Continue{% endfilter %}
	    </a>
	  </div>
	{% endif %}
</div>

<div id="unknown_user" class="ak-user-form">
    {% include "./user_form.html" %}
    <div class="ak-field floating-input-field">
      <label for="id_comment">{% filter ak_text:"form_field_comments" %}Your comments{% endfilter %}:</label>
      <textarea id="id_comment" name="action_comment"></textarea>
    </div>
</div>

{% if previous_actions == "" or previous_actions == "0" %}
    <div class="js-nav-buttons">
      <button type="submit" class="btn btn-primary">{% filter ak_text:"form_signPetition_button" %}Sign the petition{% endfilter %}</button>
    </div>
{% endif %}

{% include "./privacy.html" %}

