<form>
    <div>cipa</div>
    {% for field in form.visible_fields %}
        <div class="ak-labels-before">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {% switch field.name %}
                {% case 'country' %}
                        <select name="{{ input_name_prefix }}country" id="id_{{ input_name_prefix }}country" {% if onchange %}onchange="{{ onchange }}" onblur="{{ onchange }}"{% endif %}>
                        <option selected="{{ field.value }}">{{ field.value }}</option>
                        {% for std_name,name in templateset.lang.country_names_us_first %}
                            <option value="{{ std_name|escapeall }}">{{ name|escapeall }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                        {{ field }}
            {% endswitch %}
            {{ field.errors }}
        </div>
    {% endfor %}

    <button type="button" data-wm-edit-form-cta-save>Save</button>
    <button type="button" data-wm-edit-form-cta-cancel>Cancel</button>
</form>