{% if request.GET.dev == "1" or request.GET.magic == "1" %}
  <button
    data-wm-magical-autofill
    type="button"
    class="rounded-full bg-wm-orange p-2 absolute top-4 right-4 z-10 shadow-md shadow-black/20 transition-all hover:bg-wm-orange-alert active:bg-wm-pink active:rotate-180">
    {% include "./icon-magic_wand.html" %}
    <span class="sr-only">Magical autofill</span>
  </button>
{% endif %}

<ul class="compact" id="ak-errors"></ul>

{% if page.type == "Petition" %}
{% include "./component-form_skeleton-preloader.html" %}
{% endif %}

{% include "./component-form_known_user.html" %}

<div id="unknown_user" class="ak-user-form">
  {% include "./user_form.html" %}
</div>

{% include "./component-form_comments.html" %}

{% include "./component-consent_inline.html" %}

{% include "./component-form_submit_button.html" %}

{% include "./component-form_privacy_statement.html" %}

{% if args.utm_source %}
<input type="hidden" name="action_utm_source" value="{{ args.utm_source }}" />
{% endif %}
{% if args.utm_medium %}
<input type="hidden" name="action_utm_medium" value="{{ args.utm_medium }}" />
{% endif %}
{% if args.utm_campaign %}
<input type="hidden" name="action_utm_campaign" value="{{ args.utm_campaign }}" />
{% endif %}
{% if args.utm_content %}
<input type="hidden" name="action_utm_content" value="{{ args.utm_content }}" />
{% endif %}

{% if isEmbbeded %}
<input type="hidden" name="redirect"
  value="{{ page.followup.url }}{% if '?' in page.followup.url %}&{% else %}?{% endif %}embed={{ args.embed }}{% if args.css == '1' %}&css=1{% endif %}" />
{% endif %}