<ul class="compact" id="ak-errors"></ul>

<div id="known_user" class="known-member">
  <div class="known-member-inner">
    <p>
      {% filter ak_text:"knownUser_SignThisAs" %}Sign this as {% endfilter %}
      <strong id="known_user_name" data-user-full-name>lucas ramos</strong>
      <br/>
      {% filter ak_text:"knownUser_NotYou" %}Not you?{% endfilter %}
      <a href="#" onclick="return actionkit.forms.logOut()">
        {% filter ak_text:"clickHere_button" %}Not you?{% endfilter %}
      </a>
    </p>
  </div>

  <div class="already-signed">
    <p>{% filter ak_text:"alreadySignedDoMoreClickNext_button" %}It seems you have already signed. However, you can do more. Click below for next step.{% endfilter %}</p>

    <a
      class="btn btn-danger"
      href="https://action.wemove.eu/act/basic-wemove-email-consent-en"
    >
      {% filter ak_text:"next_button" %}Next{% endfilter %}
    </a>
  </div>
</div>

<div id="unknown_user" class="ak-user-form">
    {% include "./user_form.html" %}
    <div class="ak-field floating-input-field">
      <label for="id_comment">{% filter ak_text:"form_field_comments" %}Your comments{% endfilter %}:</label>
      <textarea id="id_comment" name="action_comment"></textarea>
    </div>

    <div class="js-nav-buttons">
      <button type="submit" class="btn btn-primary">{% filter ak_text:"form_signPetition_button" %}Sign the petition{% endfilter %}</button>
    </div>
</div>
{% include "./privacy.html" %}

