<script>
// WeMove library initial setup
if (!window.wemove) {
  window.wemove = {
    site: {},
    page: {},
  };
}

if (typeof weMovePreShareUrl !== "undefined") {
  window.wemove.page.preShareUrl = weMovePreShareUrl;
}

window.wemove.page.language = {
  name: "{{ page.lang_or_en }}",
  iso: "{{page.lang.iso_code|default:'en'}}",
};

{% if campaign_type == "youmove" %}
window.matomoSiteId = "4";
{% else %}
window.matomoSiteId = "1";
{% endif %}

{% if page.custom_fields.finished_alert %}
window.wemove.page.shouldDisableForm = true
{% endif %}
</script>

{% if not isEmbbeded %}
<!-- Meta Pixel Code -->
<script type="text/plain" data-cookieconsent="marketing" src="https://static.wemove.eu/shared-scripts/pixel-loader.js"></script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=273754435565660&ev=PageView&noscript=1"/></noscript>
<!-- End Meta Pixel Code -->
<script type="text/plain" data-cookieconsent="marketing" src="https://static.wemove.eu/shared-scripts/matomo-loader.js" async></script>
{% endif %}
<script src="//static.wemove.eu/action-kit/js/wemove-main.bundle.min.js?ver=1.1.1"></script>
