{% if not have_included_scripts %}
{% remember 1 as have_included_scripts %}

<script>
if (!window.wemove) {
  window.wemove = {
    site: {},
    page: {},
  };
}

if (typeof weMovePreShareUrl !== "undefined") {
  window.wemove.page.preShareUrl = weMovePreShareUrl;
}

window.wemove.page.language = {
  name: "{{ page.lang_or_en }}",
  iso: "{{page.lang.iso_code|default:'en'}}",
};

{% if campaign_type == "youmove" %}
window.matomoSiteId = "4";
{% else %}
window.matomoSiteId = "1";
{% endif %}

{% if page.custom_fields.finished_alert %}
window.wemove.page.shouldDisableForm = true
{% endif %}
</script>

{% store as wemove_custom_script %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "wemove_custom_script" as field_name %}{% endstore %}
{% if wemove_custom_script %}
  {% autoescape off %}
    {{ wemove_custom_script }}
  {% endautoescape %}
{% endif %}

{% if isEmbbeded %}
  {% store as partner_custom_script %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "partner_custom_script" as field_name %}{% endstore %}
  {% if partner_custom_script %}
    {% autoescape off %}
      {{ partner_custom_script }}
    {% endautoescape %}
  {% endif %}
{% else %}
  <!-- Meta Pixel Code -->
  <script data-cookieconsent="ignore" src="https://static.wemove.eu/shared-scripts/pixel-loader.js?v=1.1.0"></script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=273754435565660&ev=PageView&noscript=1"  alt="miscelaneous"/></noscript>
  <!-- End Meta Pixel Code -->
  <script type="text/plain" data-cookieconsent="marketing" src="https://static.wemove.eu/shared-scripts/matomo-loader.js?v=1.0.0" async></script>
{% endif %}

<script src="//static.wemove.eu/action-kit/js/wemove-main.bundle.min.js?v=2.3.3"></script>
{% endif %}
