{% if page.lang.iso_code in "de,it,nl,pl,fr,es" %}
  {% remember page.lang.iso_code as link_iso %}
{% else %}
  {% remember "en" as link_iso %}
{% endif %}

{% if args.embed %}
  {% remember "true" as isEmbbeded %}
{% endif %}
<!DOCTYPE html>
<html lang="{{page.lang.iso_code|default:'en'}}"{% if page.lang.is_rtl %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.title }} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}</title>
    <script>startTime=new Date()</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block share_metatags %}
    {% if form.id %}
      <meta name="description" property="og:description" content="{% block description %}{{ page.followup.share_description_value }}{% endblock %}">
    {% endif %}
    <meta property="og:site_name" content="{% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}">
    <meta property="og:type" content="article">
    {{ page.followup.share_title_tag }}
    <meta name="twitter:card" content="summary_large_image">
    {{ page.followup.share_image_tag }}
    {{ page.followup.share_url_tag }}
    {% endblock %}

    {% if page.id %}
    {% store as campaign_type %}{% report "custom_field_from_page_or_campaign" with 1 as refresh page.id as page_id "campaign_type" as field_name %}{% endstore %}
    {% endif %}

    {% if campaign_type == "youmove" %}
    <link href="https://youmoveeurope.eu/favicon.png" rel="icon" />
    {% else %}
    <link href="https://www.wemove.eu/favicon.png" rel="icon"  />
    {% endif %}

    {% block meta_additions %}{% endblock %}
<!-- https://127.0.0.1:8081/css/wemove.css -->
    {% load_css %}
      /media/modern/actionkit.css?1=22

      //static.wemove.eu/action-kit/css/wemove.css?v=3

      {% if args.embed and args.css == "1" and page.custom_fields.external_css %}
        {{ page.custom_fields.external_css }}
      {% endif %}
    {% end %}
    {% block css_additions %}{% endblock %}

    {% load_js %}
        //ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js
        //static.wemove.eu/action-kit/js/assets/boostrap-5.1.3.min.js
        /resources/actionkit.js
    {% end %}
    {% block script_additions %}{% endblock %}

    {% if not isEmbbeded %}
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="162c81a4-03c4-483c-891c-188b89eaf09c" data-culture="{{page.lang.iso_code}}" async></script>
    {% endif %}

    {% load_ak_context context %}
</head>
<body
  {% if isEmbbeded == "true" %}data-wm-is-embbeded{% endif %}
  data-wm-page-id="{{ page.id }}"
  class="{% if campaign_type == 'youmove' %}youmove-page{% else %}wemove-page{% endif %} ak-pagetype-{{ filename|split:'.'|nth:0 }} ak-lang-{{page.lang.iso_code|default:"unknown"}}{% if page.lang.is_rtl %} ak-rtl{% endif %} ak-no-js {% block body_extra_classes %}{% endblock %}">
    <script>
      actionkit.forms.initPage()
    </script>

    {% if not isEmbbeded %}
      {% if campaign_type == "youmove" %}
        {% include "./youmove-header.html" %}
      {% else %}
        {% include "./wemove-header.html" %}
      {% endif %}

      <div class="modal popup" data-wm-modal-popup hidden>
        <div class="modal-backdrop"></div>
        <div class="modal-dialog">
          <button type="button" class="close-popup--button" hidden data-wm-close-popup-button>
            <span class="visually-hidden">
              {% filter ak_text:"closePopup_button" %}Close popup{% endfilter %}
            </span>
            <span aria-hidden="true">x</span>
          </button>
          <div class="modal-content" data-wm-popup-content></div>
        </div>
      </div>

      {% if not page.custom_fields.consent_version %}
        {% block pre_action_share %}
          {% if page.custom_fields.pre_action_share %}
            {% store as share_page %}{% if page.custom_fields.pre_action_share == "1" %}{{ page.custom_fields.daisy_chain_action|default:page.name }}{% else %}{{ page.custom_fields.pre_action_share }}{% endif %}{% endstore %}
            <div data-wm-popup-content-template hidden>
              <h1 class="popup-title">{% filter ak_text:"thanks_spreadTheWord_title" %}Can you spread the word?{% endfilter %}</h1>
              <div data-wm-external-content class="is-loading"></div>
            </div>
            <script async>
              setTimeout(() => {
                window.wemove.page.preShareUrl = "/thanks/{{ share_page }}?share=1&akid={{ akid }}&action={{ action.id }}";
              }, 500);
            </script>
          {% endif %}
        {% endblock %}
      {% endif %}
    {% endif %}

    <div id="wrapper">
      <div id="content">
        <div class="container-fluid">
          {% if not isEmbbeded %}
            {% block finished_alert %}
              {% if page.custom_fields.finished_alert %}
                <div class="alert alert-warning alert-finished" role="alert">
                    {{ page.custom_fields.finished_alert |safe }}
                </div>
              {% endif %}
            {% endblock %}
          {% endif %}

          <div class="raction" id="rsign">
            <div class="raction-content">
              {% if not isEmbbeded %}
                {% if page.custom_fields.consent_version %}
                  <div data-wm-popup-content-template data-wm-popup-hide-close-button="true" hidden>
                {% endif %}
              {% endif %}

              {% block content %}{% endblock %}

              {% if not isEmbbeded %}
                {% if page.custom_fields.consent_version %}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if not isEmbbeded %}
      {% if campaign_type == "youmove" %}
        {% include "./youmove-footer.html" %}
      {% else %}
        {% include "./wemove-footer.html" %}
      {% endif %}
    {% endif %}

{% block below_form %}
<script>
actionkit.forms.contextRoot = '/context/';
actionkit.forms.initForm('act');
</script>
{% endblock %}

<script>
// WeMove library initial setup
if (!window.wemove) {
  window.wemove = {
    site: {},
    page: {},
  };
}

window.wemove.page.language = {
  name: "{{ page.lang_or_en }}",
  iso: "{{page.lang.iso_code|default:'en'}}",
};

{% if campaign_type == "youmove" %}
window.matomoSiteId = "4";
{% else %}
window.matomoSiteId = "1";
{% endif %}

{% if page.custom_fields.finished_alert %}
window.wemove.page.shouldDisableForm = true
{% endif %}
</script>

{% if not isEmbbeded %}
<!-- Meta Pixel Code -->
<script type="text/plain" data-cookieconsent="marketing" src="https://static.wemove.eu/shared-scripts/pixel-loader.js"></script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=273754435565660&ev=PageView&noscript=1"/></noscript>
<!-- End Meta Pixel Code -->
<script type="text/plain" data-cookieconsent="marketing" src="https://static.wemove.eu/shared-scripts/matomo-loader.js" async></script>
{% endif %}
<script src="//static.wemove.eu/action-kit/js/wemove-main.bundle.min.js?ver=1.1.0"></script>
<!-- <script src="https://127.0.0.1:8081/js/wemove-main.bundle.min.js"></script> -->
</body>
</html>
