{% extends "./wrapper.html" %}
{% block body_extra_classes %}
wemove
{{ block.super }}
{% endblock %}

{% block css_additions %}
<link rel="stylesheet" href="//donate-ui.not-a2.eu/donate-main.css" />
{% endblock %}

{% block content %}
<section
  id="donate-widget"
  data-config_override="{{ page.custom_fields.config_override }}"
  data-oneoff_amounts="{{ page.custom_fields.oneoff_amounts }}"
  data-recurring_amounts="{{ page.custom_fields.recurring_amounts }}"
  data-recurring_type="{{ page.custom_fields.recurring_type }}"
  data-selected_currency="{{ page.custom_fields.selected_currency }}"
  data-selected_frequency="{{ page.custom_fields.selected_frequency }}"
  data-selected_amount="{{ page.custom_fields.selected_amount }}"
  data-akid="{{ akid }}"
  data-ak_page_id="{{ page.id }}"
  data-ak_page_name="{{ page.name }}"
/>
{% endif %}

<div class="row" id="other_ways_giving">
    <div class="col-md-12">
        <h3>Other ways of giving</h3>
        <div class="row">
            <div class="col-md-4">
                <p> <i>You can transfer your donation to our bank account</i></p>
                <p> <i>Please include your email address as payment reference</i> </p>
                <p>
                    WeMove Europe SCE mbH<br>
                    IBAN: DE98 4306 0967 1177 7069 00<br>
                    BIC: GENODEM1GLS, GLS Bank<br>
                    Berlin, Germany
                </p>
            </div>

            <div class="col-md-3">
                <!--Make a <b>recurring</b> donation
				<a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=83" title="Donate with PayPal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
				<p> </p>
				Make a <b>one-off</b> donation
				<a href="https://www.wemove.eu/civicrm/contribute/transact?reset=1&id=88" title="Donate with Paypal" target="_blank">  <img src="https://www.wemove.eu/sites/wemove.eu/files/paypal.png" /></a>
				</div>-->
            </div>

            <div class="col-md-5">
                We want to be transparent and accountable about how we spend your donations - for more information
                please see our
                <strong><a href="https://www.wemove.eu/how-we-are-funded" target="_blank">Donation Policy</a></strong>.
                <br>
                <br>
                Your personal information will be kept private and held securely. By submitting information you are
                agreeing to WeMove Europe keeping you informed about campaigns and agree to the use of cookies in
                accordance with our
                <strong><a href="https://www.wemove.eu/privacy-policy" target="_blank">privacy policy</a></strong>.
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block end_body %}
<script type="module" src="//donate-ui.not-a2.eu/donate-main.js" />
{% endblock end_body %}