{% extends "WeMove/signup.html" %}

{% block content %}

<h2>{{ page.title }}</h2>

<form class="action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">
    
	<div id="signup-story" class="">

		{% if page.custom_fields.featured_image %}
		<img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
		{% endif %}

		<div class="ak-abovefold">
			{% include_tmpl form.introduction_text %}
		</div>

		<div class="ak-mobile-lead"></div>

		{% include "./progress_meter.html" %}
	</div>

	<div id="signup-form" class=" ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">

		{% include "./user_form_wrapper.html" %}

		<div id="consent-buttons" class="row">
			<div class="col-xs-12 col-md-6"> 
				<button type="button" id="btn_optin" name="consents[2.1.0-en]" value="explicit_opt_in" class="btn optin js-popup-consent-button ">
					Yes, keep me informed!
				</button>
			</div>
			<div class="col-xs-12 col-md-6"> 
				<button type="button" id="btn_optout" name="consents[2.1.0-en]" value="none_given" class="btn optout js-popup-consent-button ">
					No, do not contact me.
				</button>
			</div>
		</div>

	</div>
    
    <input type="hidden" name="page" value="{{ page.name }}">
</form>

{% endblock %}
